$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}


$secondary : #f3f3f3;

.socialMedia {
    margin: 0px 0 0 0;
    padding: 0 0px 0 0;
    display: flex;
    align-items: center;

    small {
        color: #000000;
        margin-right: 10px;

        @include smallPhone(){
            font-size: 12px;
        }
    }

    i {
        margin: 0 10px;
        transition: .3s;

        @include smallPhone(){
            font-size: 13px;
        }

        &:hover {
            color: #c70000;
            cursor: pointer;
        }
    }
}