@import "../../../utilities/variable/variables.scss";

.btnUnduh {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    button {
        border-radius: 15px;
        border: 1px solid $colors;
        text-transform: uppercase;
        color : $colors;
        transition: .3s;
        letter-spacing: 1.5px;

        &:hover {
            background-color: $colors;
            color : #ffffff;

        }
            text-decoration: none;
            color: $colors;
            &:hover {
                // background-color: #c70000;
                color : #ffffff;

            }

            span {
                font-size: 7pt;
                
            }
    }
}