// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

// Carousel
.carousel2-pemiluPage{
    display: flex;
    height: 100%;
    width: 100%;

    .box-carousel2-pemiluPage{
        height: 100%;
        width: 100%;

        .carousel-item{
            height: 100%;
            width: 100%;
            background: #aaa;

            // Image 2
            .img-2{
            display: flex;
            height: 100%;
            width: 100%;
            overflow: hidden;
            }
            // END Image 2
        }   
    }

    // Container Box Indicator Carousel
    .container-box-indicator-pemilu2{
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        height: 100%;
        width: 100%;

        // Box Indicator
        .box-indicator-carousel-pemilu2{
            display: flex;
            height: 70px;
            width: 100%;
            justify-content: center;
            align-items: center;

            @include respon950(){
                height: 100px;
            }

            #btn-left-carousel2{
                display: flex;
                position: static;
                height: 35px;
                width: 35px;
                background: #fff;
                color: #000;
                border-radius: 500px;
                margin: 0 10px 0 0;
                transition: .5s;
        
                &:hover{
                    opacity: 1;
                }

                @include respon950(){
                    height: 50px;
                    width: 50px;
                    margin: 0 30px 0 0;
                    font-size: 18pt;
                }
            }
            
            #btn-right-carousel2{
                display: flex;
                position: static;
                height: 35px;
                width: 35px;
                background: #fff;
                color: #000;
                border-radius: 500px;
                transition: .5s;
        
                &:hover{
                    opacity: 1;
                }

                @include respon950(){
                    height: 50px;
                    width: 50px;
                    font-size: 18pt;
                }
            }
        }
        // END Box Indicator
    }
    // END Container Box Indicator Carousel
}
// END Carousel



