// Carousel
.carousel2-pemiluPage{
    display: flex;
    height: 100%;
    width: 100%;

    .box-carousel2-pemiluPage{
        height: 100%;
        width: 100%;

        .carousel-item{
            height: 100%;
            width: 100%;
            background: #aaa;

            // Image 2
            .img-2{
            display: flex;
            height: 100%;
            width: 100%;
            background-image: url(../../img/pemilu2.jpg);
            background-position: center;
            background-size: cover;
            overflow: hidden;
            }
            // END Image 2
        }   
    }

    #btn-left-carousel2{
        display: flex;
        height: 35px;
        width: 35px;
        background: #fff;
        color: #000;
        border-radius: 500px;
        margin: 250px 0 0 150px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
    
    #btn-right-carousel2{
        display: flex;
        height: 35px;
        width: 35px;
        background: #fff;
        color: #000;
        border-radius: 500px;
        margin: 250px 140px 0 0px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
}
// END Carousel



