@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$deviceOne : 1000px;
@mixin deviceOne {
    @media (min-width : #{$deviceOne}) {
        @content;
    }
}

$deviceTwo : 1500px;
@mixin deviceTwo {
    @media (max-width : #{$deviceTwo}) {
        @content;
    }
}

$deviceThree : 1200px;
@mixin deviceThree {
    @media (max-width : #{$deviceThree}) {
        @content;
    }
}

.cardMedia {
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include smallPhone() {
        flex-direction: column;
        padding: 10px 10px 0 10px;
    }

    .mediaCard {
        text-decoration: none;
        color: #000000;

        @include smallPhone() {
            width: 100%;
            margin: .5rem 0 0 0;
            height: 15vh;
            background: $accent;
            border-radius: 5px;
            padding: 0 0 0 20px;
        }

        .smallCard {
            text-transform: uppercase;
            // font-weight: 700;
            font-family: 'Open Sans';
            // font-size: 9pt;
            @include smallPhone() {
                margin-left: 1rem;
            }
        }
    }
    
    .imgCards {
        height: 75px;
        width: 75px;
        margin-right: 1rem;

        @include deviceOne(){
            height: 50px;
            width: 50px;
        }

        @include smallPhone() {
            height: 60px;
            width: 60px;
            // width: 30px;
            margin-right: 0;
        }
    }

    .siaranLangsung {
        display: flex;
        justify-content: center;
        align-items: center;

        @include smallPhone(){
            justify-content: flex-start;
        }
    }
    .videoDokumentasi {
        display: flex;
        justify-content: center;
        align-items: center;
        @include smallPhone(){
            justify-content: flex-start;
        }
    }
    .videoInteraktif {
        display: flex;
        justify-content: center;
        align-items: center;
        @include smallPhone(){
            justify-content: flex-start;
        }
    }
    .siaranPers {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include smallPhone(){
            justify-content: flex-start;
        }
    }
}