@import "../../utilities/variable/variables.scss";

// Variable For Responsive
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}
// END Variable For Responsive


.cardMedia {
    width: 100%;
    padding: $padding;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include smallPhone() {
        // padding: 0 8%;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    @include smallPhoneDua() {
        padding: 15px 2%;
    }

    .mediaCard {
        text-decoration: none;
        color: #000000;
        @include smallPhone() {
            // margin: 0 .5rem;
            // outline: 1px solid blue;
            width: 100%;
            margin: .5rem 0;
            height: 10vh;
            border-radius: 10px;
            background: $accent;
            
        }
        .smallCard {
            text-transform: uppercase;
            // font-weight: 700;
            font-family: 'Open Sans';
            font-size: 9pt;
            
            
            @include smallPhone() {
                font-size: 8pt;
                margin-right: .5rem;
            }
        }
    }
    
    .imgCards {
        margin-right: 1rem;

        @include smallPhone() {
            // width: 30px;
            margin-right: .5rem;
        }
    }

    .siaranLangsung {
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    .videoDokumentasi {
        display: flex;
        justify-content: center;
        align-items: center;
        @include smallPhone() {
            flex-direction: row-reverse;
        }
    }
    .videoInteraktif {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .siaranPers {
        display: flex;
        justify-content: center;
        align-items: center;
        @include smallPhone() {
            flex-direction: row-reverse;
        }
    }
}