@import "../../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapperPPDI {
    width: 100%;
    padding: 10px 0 40px 0;
    @include smallPhone() {
        padding: 0;
    }

    .linkedPPDI {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;
        padding: 0 10% 0 10%;
        @include smallPhone() {
            // border: 1px solid crimson;
            width: 100%;
            padding: 0 10px;
        }
    }

    .dividerPPDI{
        margin: 0px 0 40px 0;
        padding: 0 20%;

        @include smallPhone(){
            margin: 0px 0 20px 0;
            padding: 0 10px;
        }
    }

    .card-PPDI {
        height: auto;
        width: 100%;
        padding: 0 20% 0 20%;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 100%;
        
        @include smallPhone(){
            padding: 0 0px 20px 0;
        }

        .listPPDI {
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            
        }
    }
}