@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.cont-card-materi-pk{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: calc(90%/3);
    background: #fff;
    border-radius: 10px;
    transition: .5s;
    color: #000;
    margin: 0 0px 20px 0px;

    &:hover{
        box-shadow: 4px 17px 40px -30px rgba(0,0,0,0.75);
        background: $darkRedTwo;
        color: #fff;
    }

    @include smallPhone(){
        height: auto;
        width: 100%;
        margin: 0 10px 10px 10px;
    }

    // Image
    .img-card-materi-pk{
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 100%;
        background-size: cover;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px 10px 0 0;
    }
    // END Image

    // Box Title
    .box-title-card-materi-pk{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 10px 20px;

        .txt-author-card-materi-pk{
            display: flex;
            font-size: 8pt;
            margin: 10px 0 0 0;
            font-weight: bold;
            color: $colors;
        }

        .txt-headline-card-materi-pk{
            font-size: 8pt;
            margin-top: 10px;
        }

        .txt-jdl-materi-pk{
            display: flex;
            font-weight: bold;
            text-transform: uppercase;
        }

        .txt-paragrap-materi-pk{
            display: flex;
            // font-size: 7pt;
            margin-top: 1rem;
            font-weight: bolder;
        }
    }
    // END Box Title
}