$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}
@import "../../../utilities/variable/variables.scss";

.wrapperWidget{
    width: 100%;
    display: flex;
    padding: $padding;
    justify-content: center;
    align-items: center;

    @include smallPhone() {
        display: none;
    }

    .carousel-inner{
        background: none;

        
    }

    .wbCarousel{
        transition: transform .5s ease-in-out, opacity .2s ease-in-out;
    }

}

