$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$responMin951: 951px;
$responMax1360: 1360px;

@mixin respon1360 {
  @media (min-width: #{$responMin951}) and (max-width: #{$responMax1360}) {
    @content;
  }
}

$responMin750: 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950 {
  @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}) {
    @content;
  }
}

$respon750: 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
  @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
    @content;
  }
}

.mainCarouselDual{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    gap : 20px;
    padding: 0 20% 0 20%;

    @include smallPhone(){
        height: auto;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }

    @include respon1360() {
        padding: 0 10%;
    }

    @include respon950() {
        padding: 0 2%;
    }

    @include respon750() {
        padding: 0 5%;
        flex-direction: column;
        height: auto;
    }

    .satyam {
        padding: 30px;
        
        @include respon750() {
            padding: 300px;
        }
        @include smallPhone() {
            padding: 200px;
            margin-bottom: 1rem;
        }
    }

    .satyamIframe {
        height: 100%;

        @include respon750() {
            width: 100%;
            height: 500px;
        }
        @include smallPhone() {
            width: 100%;
            height: 300px;
        }
        
    }

    .mainCarouselDual_car1{
        width: 30%;
        height: 40vh;
        // border: 1px solid blue;

        @include smallPhone(){
            height: 40vh;
            width: 100%;
            margin: 0 0 10px 0;
        }
    }

    .mainCarouselDual_car2{
        width: 70%;
        height: 40vh;

        @include smallPhone(){
            width: 100%;
        }
    }



}