.wrapperPemilu {
  width: 100%;
}

.wrapperPemilu .headers {
  background: url(../../../img/pemilu6.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

.wrapperPemilu .headers .backgrounds {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperPemilu .headers .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperPemilu .linkedBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
  padding: 10px 10%;
}

.wrapperPemilu .linkedBerita i span {
  margin-left: 5px;
  font-style: italic;
  font-size: 8pt;
}

.wrapperPemilu .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background: #f3f3f3;
  padding: 0 10%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 35%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row1-col1 .img-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  background-image: url(../../../img/pemilu.jpeg);
  background-size: cover;
  background-position: center;
  margin: 0 0px 20px 0px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row1-col1 .img-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50%;
  width: 100%;
  background-image: url(../../../img/pemilu2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 65%;
  background: #fff;
  margin: 0px 0px 0 20px;
  padding: 10px 0 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 25px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian1 .garis-pinggir-merah {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  background: #d80010;
  margin: 15px 0 15px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 33%;
  padding: 5px 20px 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .jdl-jambi-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col1-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 .title1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 .title2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 .title3-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col2-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 .title1-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 .title2-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 .title3-col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section1-column1 .col3-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 10px 0 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .jdl-riau-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col1-section2 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 .title1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 .title2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 .title3-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column1-bagian2 .section2-column1 .col2-section2 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 33%;
  padding: 5px 20px 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .jdl-bengkulu-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section1-column2 .col1-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .jdl-sumatera-selatan-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section2-column2 .col1-section2 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .jdl-sumatera-selatan-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  text-align: start;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column2-bagian2 .section3-column2 .col1-section3 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 33%;
  padding: 5px 20px 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .jdl-sumatera-barat-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col1-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 .title1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 .title2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 .title3-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section1-column3 .col2-section1 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 0 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .jdl-sumatera-utara-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #555;
  margin: 0 0 2px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .garis-merah-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #d80010;
  margin: 0 0 10px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .garis-merah-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 120px;
  background: #d80010;
  border-radius: 3px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 .title1-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 .title2-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 .title3-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col1-section2 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 5px 0 0 0;
  width: 100%;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 .title1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: bold;
  color: #d80010;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 .title2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 .txt-nama-pemimpin-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 .title3-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col1-container-1 .row2-col1 .row-bagian2 .column3-bagian2 .section2-column3 .col2-section2 .txt-nama-wakil-bupati {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  color: #000;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  width: 50%;
  background: #d80010;
  margin: 0 20px 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 .col1-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/pemilu12.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 .col1-row1 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 .col2-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 .col2-row1 .txt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row1-col2 .col2-row1 .txt-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  width: 50%;
  background: #d80010;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 .col1-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/pemilu9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 .col1-row2 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 .col2-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 .col2-row2 .txt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-1 .col2-container-1 .row2-col2 .col2-row2 .txt-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  text-align: start;
  margin: 1px;
  overflow: hidden;
}

.wrapperPemilu .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 60vh;
  width: 100%;
  background-image: url(../../../img/pemilu5.jpg);
  background-position: center;
  background-size: cover;
  margin: 20px 0 20px 0;
  overflow: hidden;
}

.wrapperPemilu .container-2 img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 150%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperPemilu .container-2 .jdl-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 70%;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.wrapperPemilu .container-2 .jdl-col1 .box-txt-jdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  width: 500px;
  padding: 10px 10px 20px 10px;
  margin: 0 100px 0 0;
  overflow: hidden;
}

.wrapperPemilu .container-2 .jdl-col1 .txt-jdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: start;
  overflow: hidden;
}

.wrapperPemilu .container-2 .btn-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 30%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 200px 20px 0;
  z-index: 1;
  overflow: hidden;
}

.wrapperPemilu .container-2 .btn-col2 .btn-lihat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 130px;
  background: #eee;
  border-radius: 20px;
  border: none;
  outline: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  font-size: 13px;
  color: #d80010;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperPemilu .container-2 .btn-col2 .btn-lihat:hover {
  background: #d80010;
  color: #fff;
}

.wrapperPemilu .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  width: 100%;
  background: #f3f3f3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
  margin: 40px 0 80px 0;
  overflow: hidden;
}
/*# sourceMappingURL=PemiluPage.css.map */