$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

// min width 951 and max width 1360px
$responMin951: 951px;
$responMax1360: 1360px;

@mixin respon1360{
    @media (min-width: #{$responMin951}) and (max-width: #{$responMax1360}){
        @content;
    }
}
// end min width 951 and max width 1360px

// min width 1361px and max width 1440px
$responMin1361: 1361px;
$responMax1440: 1440px;

@mixin respon1440{
    @media (min-width: #{$responMin1361}) and (max-width: #{$responMax1440}){
        @content;
    }
}
// end min width 1361px and max width 1440px

// for icon customRow
// min height 800 and max width 750px
$minHeight800: 800px;
$maxWidth750: 750px;

@mixin minHeight800{
    @media (min-height: #{$minHeight800}) and (max-width: #{$maxWidth750}) {
        @content;
    }
}
// min height 800 and max width 750px
// end for icon customRow

$secondary : #f3f3f3;
@import "../../../utilities/variable/variables.scss";

.wrapperPemiluPage {
    width: 100%;
    padding-bottom: 40px;

    // .headers-pemiluPage {
    //     background-size: cover;
    //     height: 15vh;
    //     background-position: center;

    //     @include smallPhone(){
    //         height: 15vh;
    //         background-attachment: inherit;
    //     }

    //     .backgrounds {
    //         width: 100%;
    //         height: 100%;
    //         display: flex;
    //         // justify-content: center;
    //         align-items: center;
    //         color: #ffffff;

    //         .textBackgroundBerita {
    //             width: 100%;
    //             height: 50%;
    //             padding: 0 10%;

    //             @include smallPhone(){
    //                 width: 100%;
    //                 margin: 0;
    //                 padding: 0 10%;
    //             }
    //         }
    //     }
    // }
    .linkedPemiluPage {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: 10px 10%;

        @include respon1360(){
            padding: 10px 5%;
        }

        @include respon950(){
            padding: 10px 5%;
        }

        @include respon750(){
            padding: 10px 5%;
        }

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }


        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }

    // Container1
    .container-1-pemiluPage{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        background: #f3f3f3;
        padding: 0 20%;
        overflow: hidden;

        @include respon1440(){
            padding: 0 20%;
        }

        @include respon1360(){
            padding: 0 10%;
        }

        @include respon950(){
            padding: 0 2%;
        }

        // min width 500px and max widht 750px
        @include respon750(){
            padding: 0 15%;
        }
        // end min width 500px and max width 750px

        @include smallPhone(){
            padding: 0 10px;
        }

        // Column1
        .col1-container-1-pemiluPage{
            display: flex;
            width: 100%;
            margin: 0 0 10px 0;
            overflow: hidden;

            @include respon950(){
                flex-direction: column;
                height: auto;
            }

            // min widh 500px and max width 750px
            @include respon750(){
                flex-direction: column;
                height: auto;
            }
            // end min width 500px and max width 750px

            @include smallPhone(){
                height: auto;
                flex-direction: column;
                margin: 0;
            }

            // Row1
            .row1-col1-pemiluPage{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 30%;
                overflow: hidden;

                @include respon950(){
                    width: 100%;
                }

                // min width 500px and max widht 750px
                @include respon750(){
                    width: 100%;
                }
                // end min width 500px and max width 750px

                @include smallPhone(){
                    height: auto;
                    width: 100%;
                }
                
                // Bagian1
                .bagian1-pemiluPage{
                    display: flex;
                    height: 50%;
                    width: 100%;
                    margin: 0 0 20px 0;

                    @include smallPhone(){
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                }
                // END Bagian1

                // Bagian2
                .bagian2-pemiluPage{
                    display: flex;
                    height: 50%;
                    width: 100%;

                    @include smallPhone(){
                        width: 100%;
                    }
                }
                // END Bagian2
            }
            // END Row1

            // Row2
            .row2-col1-pemiluPage{
                display: flex;
                width: 70%;
                background: #fff;
                margin: 0px 0px 0 20px;
                padding: 0px 0 0px 0;
                overflow: hidden;

                @include respon950(){
                    width: 100%;
                    margin: 20px 0 0 0;
                }

                // min width 500px and max width 750px
                @include respon750(){
                    width: 100%;
                    margin: 20px 0 0 0;
                }
                // end min width 500px and max width 750px

                @include smallPhone(){
                    width: 100%;
                    margin: 10px 0 0 0;
                }
            }
        }
        // END Column1

        // CARD LAPORAN
        .containerLaporan {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 10px;
            // padding: 2rem;

            // min width 750px and max width 950px
            @include respon950(){
                flex-direction: row;
            }
            // end min width 750px and max width 950px

            // min width 500px and max width 750px
            @include respon750(){
                flex-direction: column;
            }
            // end min width 500px and max width 750px

            @include smallPhone() {
                padding: 0px;
                flex-direction: column;
                margin-bottom: 0;
            }

            .cardLaporanSatu{
                margin-right: 20px;
                justify-content: center;
                align-items: center;

                @include respon950(){
                    margin-right: 20px;
                }

                @include respon750(){
                    margin-right: 0;
                }
            }

            .cardLaporan {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15vh;
                flex-direction: row;
                // margin: 1rem 1rem;
                background: #e50209;
                // border: 1px solid crimson;
                transition: .3s;
                overflow: hidden;

                @include respon950(){
                    width: 100%;
                    margin-top: .5rem;
                    padding: 20px 30px;
                    border-radius: 5px;
                    justify-content: center;
                }

                // min width 500px and max width 750px
                @include respon750(){
                    width: 100%;
                    margin: .5rem 0 0 0;
                    padding: 0;
                    border-radius: 5px;
                    justify-content: center;
                }
                // end min width 500px and max width 750px

                @include smallPhone() {
                    width: 100%;
                    margin: .5rem 0 0 0;
                    padding: 10px 0 10px 20px;
                    border-radius: 5px;
                    justify-content: center;
                }

                &:hover {
                    background: #2f3542;
                }

                .box-card-laporan{
                    display: flex;
                    height: 100%;
                    width: 50%;
                    justify-content: center;
                    align-items: center;

                    @include respon950(){
                        justify-content: flex-start;
                        width: 80%;
                    }

                    @include respon750(){
                        justify-content: flex-start;
                        width: 60%;
                    }

                    @include smallPhone(){
                        justify-content: flex-start;
                        width: 80%;
                    }

                    .imageHarta {
                        height: 50%;
                        
                        @include respon950(){
                            height: 60%;
                        }

                        // min widht 500px and max widht 750px
                        @include respon750(){
                            // width: 80px;
                        }
                        // end min width 500px and max width 750px

                        // min height 800 and max width 750px
                        @include minHeight800(){
                            height: 50%;
                        }
                        // end min height 800 and max width 750px

                        @include smallPhone(){
                            // width: 70px;
                            margin: 0;
                        }
                    }

                    .textHarta {
                        display: flex;
                        flex-direction: column;
                        color: #ffffff;
                        margin: 0 1rem;

                        .h5Harta {
                            text-transform: uppercase;
                        }

                        .paragrapHarta {
                            // font-size: 10pt;
                            // border: 1px solid blue;

                            @include smallPhone(){
                                // font-size: 8pt;
                            }
                        }
                    }
                }

            }
        }
        // END


        // Column2
        // .col2-container-1-pemiluPage{
        //     display: flex;
        //     height: auto;
        //     width: 100%;
        //     padding: 20px 0 0px 0;
        //     overflow: hidden;

        //     // min width 500px and max width 750px
        //     @include respon750(){
        //         flex-direction: column;
        //     }
        //     // end min width 500px and max width 750px

        //     @include smallPhone(){
        //         flex-direction: column;
        //     }

        //     .pemilihan{
        //         transition: .3s;
        //         justify-content: center;
        //         align-items: center;
        //         padding: 0 20px 0 20px;

        //         // min width 500px and max width 750px
        //         @include respon750(){
        //             justify-content: flex-start;
        //             border-radius: 5px;
        //             padding: 0 30px;
        //         }
        //         // end min width 500px and max width 750px

        //         @include smallPhone(){
        //             justify-content: flex-start;
        //             padding: 0 0px;
        //         }
                
        //         &:hover {
        //             background: #2f3542;
        //         }
        //     }

        //     // Row1
        //     .row1-col2-pemiluPage{
        //         display: flex;
        //         height: 15vh;
        //         width: 50%;
        //         background: $colors;
        //         margin: 0 20px 0 0;
        //         overflow: hidden;

        //         // min width 500px and max width 750px
        //         @include respon750(){
        //             width: 100%;
        //             margin: 0;
        //         }
        //         // end min width 500px and max width 750px

        //         @include smallPhone(){
        //             height: 15vh;
        //             width: 100%;
        //             padding: 0px 20px;
        //             border-radius: 5px;
        //         }

        //         .col1-row1-pemiluPage{
        //             display: flex;
        //             // height: 110px;
        //             // width: 120px;
        //             // object-fit: cover;
        //             // overflow: hidden;
        //             width: 80px;
        //             margin: 0 30px 0 0px;

        //             // min width 500px and max width 750px
        //             @include respon750(){
        //                 margin: 0 1rem 0 0;
        //             }
        //             // end min width 500px and max width 750px
    
        //             @include smallPhone(){
        //                 // height: 100px;
        //                 // width: 130px;
        //                 width: 70px;
        //                 object-fit: cover;
        //                 margin: 0;
        //             }
        //         }

        //         .col2-row1-pemiluPage{
        //             display: flex;
        //             flex-direction: column;
        //             height: 100%;
        //             width: auto;
        //             justify-content: center;
        //             padding: 0;
        //             overflow: hidden;

        //             @include smallPhone(){
        //                 width: 100%;
        //                 padding: 0 0 0 1rem;
        //             }

        //             .txt-title{
        //                 display: flex;
        //                 // font-size: 18px;
        //                 font-weight: bold;
        //                 color: #fff;
        //                 text-align: start;
        //                 margin: 1px;
        //                 overflow: hidden;

        //                 @include smallPhone(){
        //                     // font-size: 15px;
        //                     width: 100%;
        //                 }
        //             }

        //             .txt-desk{
        //                 display: flex;
        //                 // font-size: 11px;
        //                 font-weight: 500;
        //                 color: #fff;
        //                 text-align: start;
        //                 margin: 1px;
        //                 overflow: hidden;

        //                 @include smallPhone(){
        //                     // font-size: 10px;
        //                 }
        //             }
        //         }
        //     }
        //     // END Row1

        //     // Row2
        //     .row2-col2-pemiluPage{
        //         display: flex;
        //         height: 15vh;
        //         width: 50%;
        //         background: $colors;
        //         overflow: hidden;

        //         // min width 500px and max width 750px
        //         @include respon750(){
        //             margin: .5rem 0 0 0;
        //             width: 100%;
        //         }
        //         // end min width 500px and max width 750px

        //         @include smallPhone(){
        //             height: 15vh;
        //             width: 100%;
        //             margin: 10px 0 0 0;
        //             padding: 0 20px;
        //             border-radius: 5px;
        //         }

        //         .col1-row2-pemiluPage{
        //             display: flex;
        //             // height: 110px;
        //             // width: 120px;
        //             // object-fit: cover;
        //             // overflow: hidden;
        //             width: 70px;
        //             margin: 0px 30px 0 0;

        //             // min width 500px and max width 750px
        //             @include respon750(){
        //                 margin: 0 1rem 0 0;
        //             }
        //             // end min width 500px and max width 750px
    
        //             @include smallPhone(){
        //                 // height: 100px;
        //                 // width: 130px;
        //                 object-fit: cover;
        //                 margin: 0px;
        //             }
        //         }     

        //         .col2-row2-pemiluPage{
        //             display: flex;
        //             flex-direction: column;
        //             height: 100%;
        //             width: auto;
        //             justify-content: center;
        //             align-items: flex-start;
        //             padding: 0;
        //             overflow: hidden;

        //             @include smallPhone(){
        //                 width: 100%;
        //                 padding: 0 0 0 1rem;
        //             }

        //             .txt-title{
        //                 display: flex;
        //                 // font-size: 18px;
        //                 font-weight: bold;
        //                 color: #fff;
        //                 text-align: start;
        //                 margin: 1px;
        //                 overflow: hidden;
                        
        //                 @include smallPhone(){
        //                     // font-size: 15px;
        //                 }
        //             }

        //             .txt-desk{
        //                 display: flex;
        //                 // font-size: 11px;
        //                 font-weight: 500;
        //                 color: #fff;
        //                 text-align: start;
        //                 margin: 1px;
        //                 overflow: hidden;

        //                 @include smallPhone(){
        //                     // font-size: 10px;
        //                 }
        //             }
        //         }
        //     }
        //     // END Row2
        // }
        // END Column2
    }
    // END Container1

    // Container2
    .container-2-pemiluPage{
        display: flex;
        position: relative;
        height: 40vh;
        width: 100%;
        margin: 20px 0 0 0;
        border: none;

        @include smallPhone(){
            height: auto;
            width: 100%;
            margin: 20px 0 0 0;
        }

        // .jdl-col1-pemiluPage{
        //     display: flex;
        //     flex-direction: row-reverse;
        //     height: 70%;
        //     width: 100%;
        //     overflow: hidden;
        //     z-index: 1;

        //     .box-txt-jdl-pemiluPage{
        //         display: flex;
        //         flex-direction: column-reverse;
        //         height: 100%;
        //         width: 500px;
        //         padding: 10px 10px 20px 10px;
        //         margin: 0 100px 0 0;
        //         overflow: hidden;

        //         @include smallPhone(){
        //             width: 60%;
        //             padding: 10px;
        //             margin: 0 0 0 50px;
        //         }
        //     }

        //     .txt-jdl-pemiluPage{
        //         display: flex;
        //         font-size: 20px;
        //         font-weight: bold;
        //         color: #000;
        //         text-align: start;
        //         overflow: hidden;

        //         @include smallPhone(){
        //             font-size: 10px;
        //         }
        //     }
        // }

        // .btn-col2-pemiluPage{
        //     display: flex;
        //     flex-direction: row-reverse;
        //     height: 30%;
        //     width: 100%;
        //     align-items: center;
        //     padding: 0 150px 20px 0;
        //     z-index: 1;
        //     overflow: hidden;

        //     @include smallPhone(){
        //         height: 50%;
        //         padding: 0 20px 0 0 ;
        //     }
        // }
    }
    // END Container2

    // Container3
    .container-3-pemiluPage{
        display: flex;
        height: 40vh;
        width: 100%;
        background: #f3f3f3;
        justify-content: center;
        align-items: center;
        padding: 0 20%;
        margin: 20px 0 0px 0;
        overflow: hidden;

        @include smallPhone(){
            padding: 0;
        }

        iframe{
            display: flex;

            @include smallPhone(){
                width: 100%;
                padding: 0 10px;
            }
        }
    }
    // END Container3


       // YOUTUBE PROFIL
    .ytProfil {
        margin-top: 2rem;
        padding: 10px 20% 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include respon1440(){
            padding: 10px 20% 0 20%;
        }

        @include respon1360(){
            padding: 10px 10%;
        }

        @include respon950(){
            padding: 10px 2% 0 2%;
        }

        // min widht 500px and max width 750px
        @include respon750(){
            padding: 10px 15% 0 15%;
        }
        // end min width 500px and max width 750px

        @include smallPhone() {
            padding: 0 10px;
        }

        .ytIframe {
            width: 100%;
            // border: 1px solid #48ff00;
            height: 60vh;
            position: relative;
            // overflow: hidden;

            @include respon950(){
                height: 45vh;
            }

            // min width 500px and max width 750px
            @include respon750(){
                height: 40vh;
            }
            // end min width 500px and max width 750px

            @include smallPhoneDua() {
                height: 40vh;
            }

            .iframeProfil {
                border: 0;
                height: 100%;
                width: 100%;
                // border: 1px solid blue;
                top: 0;
                left: 0;
                position: absolute;

                @include smallPhoneDua() {
                    position: inherit;
                }

            }
        }
    }
    // END


}