$secondary : #f3f3f3;
@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

$device1100: 1100px;
$device1300: 1300px;

@mixin device1300 {
    @media (min-width: #{$device1100}) and (max-width: #{$device1300}) {
        @content;
    }
}

$deviceMin1300: 1300px;
$deviceMax1500: 1500px;

@mixin device1500 {
    @media (min-width: #{$deviceMin1300}) and (max-width: #{$deviceMax1500}) {
        @content;
    }
}

// For Position Hover ALL Pulau
.container-position-pulau-inMaps{
    display: flex;
    height: 370px;
    width: 100%;
    justify-content: center;
    position: relative;

    #mapsDefault{
        z-index: -1;
    }

    .imgMaps{
        position: absolute;
        object-fit: cover;
        object-position: center;
        height: 370px;
        width: 1000px;
        max-width: 100%;
        // cursor: pointer;
        @include smallPhone() {
            height: auto;
            width: 100%;
        }
        // @include smallPhoneDua() {
        //     height: 20vh;
        // }
    }

    // Target Mouse 1
    .target-mouse-1{
        display: flex;
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: transparent;
        top: 20px;
        left: 20px;
        z-index: 111;
        border-radius: 500px;
        cursor: pointer;
        text-decoration: none;

        @include device1300(){
            height: 50px;
            width: 50px;
            left: 5px;
            top: 10px;
        }

        @include device1500(){
            height: 60px;
            width: 60px;
            left: 10px;
            top: 10px;
        }
    }
    // END Target Mouse 1

    // Target Mouse 2
    .target-mouse-2{
        display: flex;
        position: absolute;
        height: 70px;
        width: 70px;
        background-color: transparent;
        border-radius: 500px;
        top: 90px;
        left: 100px;
        z-index: 111;
        cursor: pointer;
        text-decoration: none;

        @include device1300(){
            height: 50px;
            width: 50px;
            left: 60px;
            top: 50px;
        }

        @include device1500(){
            height: 60px;
            width: 60px;
            left: 70px;
            top: 50px;
        }
    }
    // END Target Mouse 2

    // Target Mouse 3
    .target-mouse-3{
        display: flex;
        position: absolute;
        height: 50px;
        width: 50px;
        background-color: transparent;
        border-radius: 500px;
        top: 20px;
        left: 200px;
        z-index: 111;
    }
    // END Target Mouse 3

    map{
        display: flex;
        height: 100%;
        width: 1000px;

        area{
            width: 100%;
        }
    }
}
// END For Position Hover ALL Pulau



// .aceh{
//     height: auto;
//     object-fit: cover;
//     object-position: center;
//     position: absolute;
// }

