.wrapperPartai {
  width: 100%;
}

.wrapperPartai .headers {
  background: url(../../../img/kampanye.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

.wrapperPartai .headers .backgrounds {
  background-color: rgba(255, 0, 8, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperPartai .headers .backgrounds .textBackgroundPartai {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperPartai .linkedPartai {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
  padding: 10px 10%;
}

.wrapperPartai .linkedPartai i span {
  margin-left: 5px;
  font-style: italic;
  font-size: 8pt;
}

.wrapperPartai .containerSatu {
  padding: 20px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPartai .containerSatu .contentSatu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.wrapperPartai .containerSatu .contentSatu .wrapperContentSatu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperPartai .containerSatu .contentSatu .wrapperContentSatu .textContentSatu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-4 {
  padding: 10px;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carouselPartai {
  left: 30%;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carouselPartai .active {
  background: none;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carouselPartai li {
  border: 1px solid #ffffff;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carouselImgSatu {
  width: 100%;
  height: 80vh;
  background: url(../../../img/megawati011.jpg);
  background-size: cover;
  background-position: center;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carousel-caption {
  left: 0;
  bottom: 20%;
  margin-left: 2.5rem;
  text-align: left;
}

.wrapperPartai .containerSatu .contentSatu .col-lg-8 .wrapperCarousel .carousel-caption h5 {
  font-style: italic;
  font-size: 10pt;
  font-weight: 300;
}

.wrapperPartai .containerSatu .contentSatu .col-md-4 {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperPartai .containerSatu .contentSatu .col-md-4 .textContent {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

.wrapperPartai .containerSatu .contentSatu .col-md-4 .textContent h4 {
  font-size: 11pt;
}

.wrapperPartai .containerSatu .contentSatu .col-md-4 .textContent p {
  font-size: 10px;
  line-height: 1.5;
}

.wrapperPartai .containerDua {
  padding: 20px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPartai .containerDua .contentDua {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperPartai .containerDua .contentDua .col {
  border: 1px solid brown;
}



.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 7%;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr {
  width: 100%;
  height: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../../../img/megawati10.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr .backplyr {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr .backplyr:hover {
  background: rgba(0, 0, 0, 0.7);
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr .backplyr .iconMusic {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-size: 14pt;
  -webkit-transition: .1s;
  transition: .1s;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr .backplyr .iconMusic:hover {
  width: 45px;
  height: 45px;
  font-size: 16pt;
  background: #2d3436;
  color: #ffffff;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .plyr .backplyr .iconMusic i {
  margin-left: 2px;
  -webkit-transition: .2s;
  transition: .2s;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .partitur {
  margin-top: 3.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .partitur img {
  cursor: pointer;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .minusOn {
  margin-top: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-4 .minusOn img {
  cursor: pointer;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 {
  margin-left: 2rem;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 .containerLirik {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 .containerLirik small {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-size: 9pt;
  letter-spacing: .8;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 .containerLirik .judulLagu {
  font-size: 15pt;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: .8px;
  font-weight: 300;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 .containerLirik .lirik {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10pt;
  font-weight: 700;
  margin-top: 1rem;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .contentMusic .col-sm-8 .containerLirik p {
  font-size: 8pt;
  letter-spacing: .8px;
  margin-top: 1rem;
  color: #ffffff;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 7%;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .mulai {
  height: 15vh;
  background: #ff0008cc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .mulai .mulaiIcon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  color: #ffffff;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-size: 10pt;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .mulai .mulaiIcon:hover {
  background: #ffffff;
  color: #2d3436;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .rythm {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  padding: 10px 10px;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .rythm .pdiJudul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .rythm .pdiJudul h4 {
  color: #2d3436;
  font-size: 12pt;
}

.wrapperPartai .containerDua .contentDua .musicPlayer .wrapperContentMusic .playerMusic .rythm .pdiJudul i {
  position: absolute;
  right: 0;
  color: #ff0008cc;
  text-align: right;
}
/*# sourceMappingURL=PartaiPage.css.map */