$secondary : #f3f3f3;

.wrapperPartai {
    width: 100%;

    .headers {
        background: url(../../../img/kampanye.jpg);
        background-size: cover;
        height: 25vh;
        background-position: center;

        .backgrounds {
            background-color: rgba(255, 0, 8, 0.8);
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundPartai {
                width: 30%;
                height: 50%;
                margin-left: 5rem;
            }
        }
    }
    .linkedPartai {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;
        padding: 10px 10%;
        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }

    .containerSatu {
        padding: 20px 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid blue;

        .contentSatu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // border: 1px solid green;

            .wrapperContentSatu {
                display: flex;
                justify-content: center;
                // align-items: center;
                flex-direction: column;
                // border: 1px solid goldenrod;

                .textContentSatu {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                }
               
            }

            .col-lg-4 {
                // border: 1px solid crimson;
                padding: 10px;
            }
            .col-lg-8 {
                // border: 1px solid yellowgreen;

                .wrapperCarousel {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .carouselPartai {
                        left: 30%;

                        .active {
                            background: none;
                        }

                        li {
                            // border: none;
                            border: 1px solid #ffffff;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                        }
                    }

                    .carouselImgSatu {
                        width: 100%;
                        height: 80vh;
                        background: url(../../../img/megawati011.jpg);
                        background-size: cover;
                        background-position: center;
                    }

                    .carousel-caption {
                        left: 0;
                        bottom: 20%;
                        margin-left: 2.5rem;
                        text-align: left;

                        h5 {
                            font-style: italic;
                            font-size: 10pt;
                            font-weight: 300;
                        }
                    }
                }
            }

            .col-md-4 {
                margin: 10px 0;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                .textContent {
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    padding: 10px;

                    h4 {
                        font-size: 11pt;
                    }

                    p {
                        font-size: 10px;
                        line-height: 1.5;
                    }
                }
            }
        }
        
        
    }

    .containerDua {
        padding: 20px 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 85vh;
        // border: 1px solid blue;

        .contentDua {
            // border: 1px solid crimson;
            width: 100%;
            height: 100%;
            display: flex;

            .col {
                border: 1px solid brown;
            }

            .musicPlayer {
                background: url(../../../img/megawati10.png);
                background-size: cover;
                background-position: center;
                // width: 100%;
                height: 100%;

                .wrapperContentMusic {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    background: rgba(0, 0, 0, .7);
                    // border: 1px solid blue;
                    .contentMusic {
                        width: 100%;
                        height: 100%;
                        display: flex;
    
                        // flex-direction: row;
                        // align-items: center;
                        
                        padding: 2.5rem 7%;
                        // border: 1px solid green;
    
                        .col-sm-4 {
                            // border: 1px solid blue;
    
                            .plyr {
                                width: 100%;
                                height: 6.5rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                background: url(../../../img/megawati10.png);
    
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
    
                                .backplyr {
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    transition: .5s;
                                    
                                    &:hover {
                                        background: rgba(0, 0, 0, .7);
                                    }
    
                                    .iconMusic {
                                        width: 40px;
                                        height: 40px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background: #ffffff;
                                        border-radius: 50%;
                                        text-align: center;
                                        cursor: pointer;
                                        font-size: 14pt;
                                        transition: .1s;
    
                                        &:hover {
                                            width: 45px;
                                            height: 45px;
                                            font-size: 16pt;
                                            background: #2d3436;
                                            color: #ffffff;
                                        }
                                        i {
                                            margin-left: 2px;
                                            transition: .2s;
                                        }
                                    }
                                }
                            }
    
                            .partitur {
                                margin-top: 3.5rem;
                                width: 100%;
                                // border: 1px solid green;
                                // height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                img {
                                    cursor: pointer;
                                }
                            }
                            .minusOn {
                                margin-top: 2.5rem;
                                width: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                // border: 1px solid green;
        
                                img {
                                    cursor: pointer;
                                }
                            }
                        }
    
                        .col-sm-8 {
                            // border: 1px solid green;
                            
                            margin-left: 2rem;
    
                            .containerLirik {
                                display: flex;
                                flex-direction: column;
                                // color: #ffffff;
                                
                                small {
                                    text-transform: uppercase;
                                    color: rgba(255, 255, 255, 0.5);
                                    font-size: 9pt;
                                    letter-spacing: .8;
                                }
    
                                .judulLagu {
                                    font-size: 15pt;
                                    text-transform: uppercase;
                                    color: #ffffff;
                                    letter-spacing: .8px;
                                    font-weight: 300;
                                }
    
                                .lirik {
                                    color: #ffffff;
                                    text-transform: uppercase;
                                    font-size: 10pt;
                                    font-weight: 700;
                                    margin-top: 1rem;
                                }
                                p {
                                    font-size: 8pt;
                                    letter-spacing: .8px;
                                    margin-top: 1rem;
    
                                    color: #ffffff;
                                }
                            }
                        }
                    }

                    .playerMusic {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 2.5rem 7%;
                        // flex-direction: column;
                        
                        .mulai {
                            // width: 100%;
                            height: 15vh;
                            background: #ff0008cc;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .mulaiIcon {
                                width: 30px;
                                height: 30px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                                border: 1px solid #ffffff;
                                color: #ffffff;
                                transition: .3s;
                                cursor: pointer;
                                font-size: 10pt;

                                &:hover {
                                    background: #ffffff;
                                    color: #2d3436;
                                }
                            }
                        }
                        .rythm {
                            border: 1px solid blue;
                            // height: 100%;
                            display: flex;
                            flex-direction: column;
                            background: #ffffff;
                            padding: 10px 10px;

                            .pdiJudul {
                                display: flex;
                                width: 100%;
                                flex-direction: row;
                                position: relative;
                                // border: 1px solid blue;
                                
                                h4 {
                                    color: #2d3436;
                                    font-size: 12pt;
                                }

                                    i {
                                        position: absolute;
                                        right: 0;
                                        color: #ff0008cc;
                                        text-align: right;
                                        // border: 1px solid blue;
                                        // width: 100%;

                                    }
                            }
                        }
                    }
                }
                
            }
        }
    }
}