// Section2
.section2{
    display: flex;
    position: relative;
    height: 60vh;
    width: 100%;
    background: #555;
    margin: 20px 0 20px 0;
    overflow: hidden;

    .carousel-inner{
        position: relative;
        height: 100%;
        width: 100%;

         // Box Indicator
         .box-indicator{
            display: flex;
            position: absolute;
            height: 50px;
            width: 100px;
            background: rgba(255, 0, 8, 0.7);
            justify-content: center;
            align-items: center;
            margin: 344px 0 0 878px;
            z-index: 100;

            .txt-no-slide-in{
                display: flex;
                font-size: 12px;
                margin: 1px;
                color: blue;
            }

            .txt-no-slide-total{
                display: flex;
                font-size: 12px;
                margin: 1px;
                color: #000;
            }
        }
        // END Box Indicator

        .img1{
            height: 100%;
            width: 100%;
            background-image: url(../../img/detailartikel2.jpg);
            background-size: cover;
        }

        .img2{
            height: 100%;
            width: 100%;
            background: #555;
        }

        .img3{
            height: 100%;
            width: 100%;
            background: #aaa;
        }
    }


        .carousel-control-prev{
            display: flex;
            height: 50px;
            width: 50px;
            background: #000;
            color: #d80010;
            margin: 147px 0 0 978px;

            .carousel-control-prev-icon{
                display: flex;
                height: 100%;
                width: 100%;
                background-image: url(../../img/detailartikel9.jpg);
                background-size: cover;
            }
        }

        .carousel-control-next{
            display: flex;
            height: 50px;
            width: 50px;
            background: #fff;
            margin: 147px 0 0 0;

            .carousel-control-next-icon{
                display: flex;
                height: 100%;
                width: 100%;
                background-image: url(../../img/detailartikel8.jpg);
                background-size: cover;
            }
        }
    
    // END Carousel
}
// END Section2