.pageBerita {
  width: 100%;
  height: 25rem;
  margin-top: 20px;
  padding: 40px 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.pageBerita .wrapperBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

.pageBerita .wrapperBerita .berita {
  height: 100%;
}

.pageBerita .wrapperBerita .berita .backImage {
  background: url(../../img/mapz.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.pageBerita .wrapperBerita .ikutiBerita {
  background-color: #d80010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 2%;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  color: #ffffff;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper h5 {
  font-size: 15pt;
  letter-spacing: 0.5px;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper h5 {
    font-size: 12pt;
  }
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper small {
  font-size: 7pt;
  padding: 10px;
  font-weight: 300;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper small {
    font-size: 5pt;
  }
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form {
  width: 100%;
  position: relative;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form i {
  position: absolute;
  left: .4rem;
  top: .8rem;
  font-size: 11pt;
  color: #cfcfcf;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper form i {
    font-size: 8pt;
    left: .6rem;
    top: 1rem;
  }
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form input {
  border: none;
  border-radius: 2px;
  padding: 2px 10px;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form ::-webkit-input-placeholder {
  color: #cfcfcf;
  font-size: 8pt;
  padding: 10px;
  font-style: italic;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form :-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 8pt;
  padding: 10px;
  font-style: italic;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form ::-ms-input-placeholder {
  color: #cfcfcf;
  font-size: 8pt;
  padding: 10px;
  font-style: italic;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper form ::placeholder {
  color: #cfcfcf;
  font-size: 8pt;
  padding: 10px;
  font-style: italic;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper button {
  margin-top: 2rem;
  border: none;
  width: 50%;
  border-radius: 25px;
  height: 2.5rem;
  background: none;
  border: 1px solid #2d3436;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper button {
    height: 2rem;
  }
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper button:hover {
  background: #2d3436;
  color: #ffffff;
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper button i {
  font-size: 10pt;
  margin-right: .3rem;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper button i {
    font-size: 8pt;
  }
}

.pageBerita .wrapperBerita .ikutiBerita .wrapper button span {
  font-size: 8pt;
  font-weight: 700;
}

@media (max-width: 1085px) {
  .pageBerita .wrapperBerita .ikutiBerita .wrapper button span {
    font-size: 7pt;
  }
}
/*# sourceMappingURL=CardMaps.css.map */