$secondary : #f3f3f3;
@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// START HEADERS
.headers {
    background-size: cover;
    height: 15vh;
    background-position: center;

    @include smallPhone() {
        height: 15vh;
    }
    // @include smallPhoneDua() {
    //     height: 15vh;
    // }

    .backgrounds {
        // background-color: rgba(216, 0, 16, .8);
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        color: #ffffff;

        .textBackgroundPartai {
            width: 30%;
            height: 50%;
            margin-left: 13rem;
            @include smallPhone() {
                width: auto;
                margin-left: 0;
                padding: 0 10%;
            }

            h2 {
                @include smallPhoneDua() {
                    font-size: 15pt;                        
                }
            }
        }
    }
}
// END HEADERS