// Responsive Max Width 500px
@media screen and (max-width: 500px){
    
}
// END Responsive Max Width 500px

// Carousel
.carousel1-pemiluPage{
    display: flex;
    height: 100%;
    width: 100%;

    .box-carousel1-pemiluPage{
        position: relative;
        height: 100%;
        width: 100%;
        background: #555;
        
        .carousel-item{
            position: relative;
            height: 100%;
            width: 100%;

            // Image 1
            .img-1{
            display: flex;
            position: relative;
            height: 100%;
            width: 100%;
            background-image: url(../../img/pemilu.jpeg);
            background-position: center;
            background-size: cover;
            overflow: hidden;
            margin: 0px 0 0 0;
            }
            // END Image 1
        }
    }

    #btn-left-carousel1{
        display: flex;
        height: 35px;
        width: 35px;
        background: #fff;
        color: #000;
        border-radius: 500px;
        margin: 100px 0 0 150px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
    
    #btn-right-carousel1{
        display: flex;
        height: 35px;
        width: 35px;
        background: #fff;
        color: #000;
        border-radius: 500px;
        margin: 100px 140px 0 0px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
}
// END Carousel