$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

// min width 951 and max width 1360px
$responMin951: 951px;
$responMax1360: 1360px;

@mixin respon1360{
    @media (min-width: #{$responMin951}) and (max-width: #{$responMax1360}){
        @content;
    }
}
// end min width 951 and max width 1360px

// min width 1361px and max width 1440px
$responMin1361: 1361px;
$responMax1440: 1440px;

@mixin respon1440{
    @media (min-width: #{$responMin1361}) and (max-width: #{$responMax1440}){
        @content;
    }
}
// end min width 1361px and max width 1440px

.mainCarouselDual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap : 20px;
    padding: 0 20% 0 20%;

    @include respon1440(){
        padding: 0px 20%;
    }

    // Min widht 951px and max width 1360px
    @include respon1360(){
        padding: 0px 10%;
    }
    // Min widht 951px and max width 1360px

    // Min width 750px and max width 950px
    @include respon950(){
        height: auto;
        width: 100%;
        flex-direction: row;
        padding: 0 2%;
    }
    // END Min width 750px and max width 950px

    // Min width 500px and max width 750px
    @include respon750(){
        height: auto;
        width: 100%;
        flex-direction: column;
        padding: 0 15%;
    }
    // END Min width 500px and max width 750px

    // Max width 500px
    @include smallPhone(){
        height: auto;
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    // END Max width 500px

    .mainCarouselDual_car1{
        width: 30%;
        // border: 1px solid blue;

        // min width 750px and max width 950px
        @include respon950(){
            width: 40%;
        }
        // end min width 750px and max width 950px

        // min width 500px and max width 750px
        @include respon750(){
            width: 100%;
        }
        // end min width 500px and max width 750px

        @include smallPhone(){
            width: 100%;
            margin: 0 0 10px 0;
        }
    }

    .mainCarouselDual_car2{
        width: 70%;

        // min width 750px and max width 950px
        @include respon950(){
            width: 60%;
            margin-left: 15px;
            margin-top: 0px;
        }
        // end min width 750px and max widht 950px

        // min width 500px and max width 750px
        @include respon750(){
            width: 100%;
        }
        // end min width 500px and max widht 750px

        @include smallPhone(){
            width: 100%;
        }
    }



}