

.mainCarouselDual{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 45vh;
    gap : 20px;
    padding: 0 20%;

    .mainCarouselDual_car1{
        width: 30%;
        height: 45vh;
        // border: 1px solid blue;
    }

    .mainCarouselDual_car2{
        width: 70%;
        height: 45vh;
        // border: 1px solid blue;

    }



}