@import "../../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapperSL {
    width: 100%;
    padding: 10px 0 40px 0;
    @include smallPhone() {
        padding: 0 0 40px 0;
    }

    .linkedSL {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;
        padding: 0 10%;
        @include smallPhone() {
            // border: 1px solid crimson;
            width: 100%;
            padding: $paddingMobile;
        }
    }

    .SiaranLangsung{
        padding: 0 20%;

        @include smallPhone(){
            padding: 0 10px;
        }
    }

    .dividerSL{
        display: flex;
        height: auto;
        width: 100%;
        align-items: center;
        padding: 0 20%;
        margin: 40px 0;

        @include smallPhone(){
            padding: 0 10px;
        }
    }

    .cardSL {
        max-width: 100%;
        padding: 0 20%;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        @include smallPhone(){
            flex-direction: column;
            justify-content: center;
            padding: 0;
        }

        .listSL {
            flex-wrap: wrap;
            width: 100%;
            display: flex;
            
        }
    }
}