$secondary : #f3f3f3;
@import "../../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

$device1100: 1100px;
$device1300: 1300px;

@mixin device1300 {
    @media (min-width: #{$device1100}) and (max-width: #{$device1300}) {
        @content;
    }
}

$deviceMin1300: 1300px;
$deviceMax1500: 1500px;

@mixin device1500 {
    @media (min-width: #{$deviceMin1300}) and (max-width: #{$deviceMax1500}) {
        @content;
    }
}

// For Botton Name Provinsi For on off Display Image Provinsi
    .btn-name-prov{
        display: flex;
        height: auto;
        width: auto;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 0;
    }
// END For Botton Name Provinsi For on off Display Image Provinsi