$secondary: #f3f3f3;
@import "../../utilities/variable/variables.scss";

$smallPhoneSatu: 500px;
$smallPhoneDua: 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapper-berita-nasional {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding-bottom: 40px;

    .linked-berita-nasional {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 10px 10%;

        @include smallPhone() {
            width: 100%;
            padding: 0 2%;
        }
    }

    // Divider
    .divider-page-berita-nasional {
        display: flex;
        height: auto;
        align-items: center;
        margin: 0 0 10px 0;
        padding: 0px 20% 20px 20%;

        @include smallPhone() {
            padding: 0 10px 30px 10px;
            margin: 0;
        }
    }
    // END Divider

    // Container1
    .container1-berita-nasional {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 20% 0 20%;

        @include smallPhone() {
            padding: 0px 10px;
            height: auto;
        }
    }
    // END Container1

    // Container2
    .container2-berita-nasional {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 20%;

        @include smallPhone() {
            padding: 0px;
        }

        // Column Card
        .column-card-berita-nasional {
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;

            // Container Card
            .containerCard-berita-nasional {
                display: flex;
                height: auto;
                width: 100%;
                flex-wrap: wrap;
                justify-content: flex-start;

                @include smallPhone() {
                    flex-direction: column;
                    padding: 0 10px;
                }
            }
            // END Container Card
        }
        // END Column Card

        // Column Pagination
        .column-pagination-berita-nasional {
            display: flex;
            height: 10vh;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        // END Column Pagination
    }
    // END Container2

    .container-angka-pagination {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        .col-angka-pagination {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 1px;
            .angka-pagination {
                display: flex;
                list-style: none;
                cursor: pointer;

                .paginationLink {
                    display: flex;
                    height: 26px;
                    width: 26px;
                    background: transparent;
                    border-radius: 100%;
                    color: #d80010;
                    font-size: 10.3pt;
                    font-weight: 500;
                    text-decoration: none;
                    // margin: 0 10px;
                    justify-content: center;
                    align-items: center;
                    transition: 0.2s;

                    &:hover {
                        background: #d80010;
                        color: #fff;
                        font-size: 12pt;
                    }

                    &.activePagination {
                        background-color: #d80010;
                        border-radius: 100px;
                        padding: 0.2px;
                        color: #fff;
                    }
                }
            }
            .prev,
            .next {
                color: #d80010;
                transition: 0.2s;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
                width: 26px;
                height: 26px;
                &:hover {
                    color: #fff;
                    background-color: #d80010;
                    border-radius: 100%;
                    border-radius: 50px;
                }
            }
        }
    }
}
