@import "../../utilities/variable/variables.scss";

.dropdownMenu{

    
    .list-group-item{
        background-color : #0000 !important;

    }

    a {
        color: $white !important;
        // font-weight: 500;

        &:hover{
            background-color: $colors !important;
            // font-weight: 600;

        }
    }

}