$red : #d52028;

.navbar {
    padding: 20px 8%;
    background: url(../../img/pattern-01.svg);
    // border-bottom: 0.5 solid grey;
    position: sticky;
    z-index: 2000;
    width: 100%;

    .navbar-brand {
        // padding-right: 20px;
        margin-left: 70px;
        font-size: 8pt;
        font-weight: 700;

        // border: 1px solid crimson;
        text-decoration: none;
        color: #ffffff;
        
        img {
            margin: 10px;
            // font-weight: 800;
        }
    }
    .navbar-nav {
        list-style: none;
        li {
            font-size: 8pt;
            text-transform: 
            uppercase;
            font-weight: 300;
            transition: .3s;
            color: #202020;
            font-weight: 500;

            &:hover {
                color: #d52028;
                // font-weight: bold;
            }
            a {
                text-decoration: none;
                color: rgb(255, 255, 255, .8);

                .active, &:hover {
                    color: #ffffff;
                }
            }
        }
    }

    form {
        position: relative;
    }

    .form-control {
        border-radius: 25px;
        font-size: 10px;
        font-weight: 500;
        font-style: italic;
        background-color: $red;
        color: #ffffff;
        width: 200px;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(237, 29, 36, 0.25);
            border-color: #ed1d24;
        }
    }
    button {
        border: none;
        background: transparent;
        color: #ffffff;
        
    }

    button[name="submit"] {
        position: absolute;
        right: 10%;
        bottom: 10%; 
    }

    ::placeholder {
        color: #ffffff;
        padding: 10px;
    }
    
}