
@import "../../utilities/variable/variables.scss";

$responsiveSatu : 1085px;
$responsiveDua : 1000px;
$responsiveTiga : 991px;

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750


@mixin responSatu {
    @media (max-width : #{$responsiveSatu}) {
        @content;
    }
}
@mixin responDua {
    @media (max-width : #{$responsiveDua}) {
        @content;
    }
}
@mixin responTiga {
    @media (max-width : #{$responsiveTiga}) {
        @content;
    }
}

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}


.navbar {
    padding: $paddingSmall;
    background-color: #aa0000;
    // border-bottom: 0.5 solid grey;
    position: fixed;
    z-index: 2000111111111;
    width: 100%;
    transition: 0.4s;
    background-position: top;
    // box-shadow: -1px 7px 30px -12px rgba(0,0,0,0.75);
    
    @include responSatu() {
        padding: 20px 5%;
    }
    @include responDua() {
        padding: 20px 10%;
    }
    @include responTiga() {
        padding: 10px 10%;
    }

    // Respon 750
    @include respon750(){
        padding: 5px 5%;
    }
    // END Respon 750
    
    // Respon 500
    @include smallPhone() {
        padding: 5px 7% 5px 2%;
    }
    // END Respon 500

    .navbar-collapse {
        
        @include responTiga() {
            text-align: left;
        }

        transition-duration: .2s;
        transition-timing-function: ease;


    }
    

    .navbar-brand {

        img {
            margin: 10px;
            // font-weight: 800;

            @include responSatu() {
                width: 40px;
            }
            @include responDua() {
                width: 50px;
            }

            // Respon 750
            @include respon750(){
                width: 200px;
            }
            // END Respon 750

            // Respon 500px
            @include smallPhone() {
                width: 150px;
            }
            // END Respon 500px
        }
    }
    .navbar-nav {
        list-style: none;
        
        li {
            font-size: 12pt;
            text-transform: 
            uppercase;
            // font-weight: 300;
            transition: .3s;
            color: #202020;
            font-weight: 500;

            @include responSatu() {
                font-size: 7pt;
            }
            @include responDua() {
                font-size: 5pt;
            }
            @include responTiga() {
                font-size: 10pt;
            }

            // Respon 750
            @include respon750() {
                font-size: 10pt;
                margin-left: 15px;
            }
            // END Respon 750

            // Respon 500
            @include smallPhone(){
                font-size: 9pt;
                margin-left: 15px;
            }
            // END Respon 500
            a {
                text-decoration: none;
                color: rgba(255, 255, 255, .5);
                transition: .3s;

                &:hover {
                    color: #ffffff;
                   
                }
            }
            .active{
                    color: #ffffff;
                   
            }
        }
        .nav-link {
            position: relative;
            
        }
    }

    form {
        position: relative;

        // Min widht 500 and max widht 750
        @include respon750(){
            margin: 0 0 30px 0;
        }
        // END Min width 500 and max widht 750

        // Max width 500
        @include smallPhone(){
            margin: 0 0 30px 15px;
        }
        // END Max widht 500

    }

    .form-control {
        border-radius: 25px;
        font-size: 10px;
        font-weight: 500;
        font-style: italic;
        background-color: #fff;
        color: #000;
        width: 200px;
        border: none;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(237, 29, 36, 0.25);
            border-color: $colors;
        }
    }
    .btn-next {
        border: none;
        background: transparent;
        color: #000;
        
        // @include smallPhone(){
        //     border: 1px solid yellow;
        // }
    }

    .btn-next[name="submit"] {
        position: absolute;
        right: 10%;
        bottom: 10%; 
    }

    ::placeholder {
        color: #000;
        padding: 10px;
    }    
}

// When Scroll Down
// #navbar{
//     box-shadow: -1px 7px 30px -12px rgba(0,0,0,0.75);
// }
// END When Scroll Down