@import '../../utilities/variable/variables.scss';


.wrapperTimeline {
	.pembungkusLine {

		.timeline-item {
			list-style: none;
			position: relative;
			width: 3px;
			padding-top: 50px;
			max-height: 40vh;
			background: $darkRed;
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: inherit;
				cursor: pointer;
				pointer-events: all;

				
			}

			.kosong {
				position: relative;
				bottom: 0;
				width: 500px;
				padding: 15px;
				background: #ffffff;
				border-radius: 10px;
				box-shadow: 0px 6px 21px -5px rgba(0,0,0,0.49);
				

				.titleline {
					// float: right;
					// text-align: start;
					font-size: 7pt;	
					color: #960001;
				}

				.timelineContent {
					width: 100%;
					display: flex;
					
					
					.imgContent {
						width: 40%;
						height: 35vh;
						border-top-right-radius: 10px;
					}
					
					.isiTimeline {
						display: flex;
						flex-direction: column;
						width: 60%;
						padding: 10px 5%;
						text-align: left;

						.headIsi {
							font-size: 8pt;
							margin-bottom: .3rem;
							color: #c60605;
						}

						.judulTimeline {
							font-weight: 700;
						}

						.paragrapTimeline {
							font-size: 8pt;
							margin-top: 1rem;
						}
					}
				}
				.timelineInfo {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 1rem;

					.tanggal {
						// border: 1px solid blue;
						display: flex;
						flex-direction: column;
						justify-content: center;
						padding: 10px 3%;
						align-items: center;

						i {
							margin-bottom: 10px;
						}

						.bulan {
							font-size: 8pt;
						}
						
						.waktu {
							font-size: 8pt;
						}
					}

					.telphone {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 10px 3%;

						i {
							margin-bottom: 1.5rem;

						}

						.nomor {
							font-size: 8pt;
						}
					}

					.lokasi {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding: 10px 3%;

						i {
							margin-bottom: 10px;
						}

						.tempat {
							font-size: 8pt;
						}

						.kota {
							font-size: 8pt;
						}
					}
				}
			}
		}
	}
}


.wrapperTimeline .pembungkusLine .timeline-item:nth-child(odd) .kosong {
	left: 45px;
	bottom: 50px;
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(even) .kosong {
	left: -539px;
	text-align: end;
	// bottom: 300px;
	bottom: 165px;
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(even) {

	&::after {
			bottom: 350px;
	}
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(odd) {
	&::after {
			bottom: 230px;
	}
}













