@import '../../utilities/variable/variables.scss';
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapperTimeline {
	.pembungkusLine {
		.timeline-item {
			list-style: none;
			position: relative;
			width: 3px;
			padding-top: 50px;
			max-height: 50vh;
			background: $darkRed;

			@include smallPhoneDua() {
				// max-width: 100vh;
				max-height: 100vh;
				// padding-top: 0;
				padding-top: 1px;
			}

			
			
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				transform: translateX(-50%);
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: inherit;
				cursor: pointer;
				pointer-events: all;
				
				
			}

			.kosong {
				position: relative;
				bottom: 0;
				width: 500px;
				padding: 15px;
				background: #ffffff;
				border-radius: 10px;
				box-shadow: 0px 6px 21px -5px rgba(0,0,0,0.49);
				@include smallPhoneDua() {
					width: 280px;
					// padding: 15px;
					margin-top: 1rem;
				}

				.titleline {
					// float: right;
					// text-align: start;
					font-size: 7pt;	
					color: #960001;
				}

				.timelineContent {
					width: 100%;
					display: flex;
					@include smallPhoneDua() {
						flex-direction: column;
						justify-content: center;
						align-items: center;
					}
					
					
					.imgContent {
						width: 40%;
						height: 35vh;
						border-top-right-radius: 10px;
						// background-position: center center;

						@include smallPhoneDua() {
							height: 20vh;
							width: 100%;
						}
		
					}
					
					.isiTimeline {
						display: flex;
						flex-direction: column;
						width: 60%;
						padding: 10px 5%;
						text-align: left;

						@include smallPhoneDua() {
							text-align: center;
							width: 100%;
						}

						.headIsi {
							font-size: 8pt;
							margin-bottom: .3rem;
							color: #c60605;
						}

						.judulTimeline {
							font-weight: 700;
						}

						.paragrapTimeline {
							margin-top: 1rem;
						}
					}
				}
				.timelineInfo {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin-top: 1rem;

					@include smallPhoneDua() {
						flex-direction: row;
						margin-top: 0;
					}

					.tanggal {
						
						display: flex;
						flex-direction: column;
						justify-content: center;
						// padding: 10px 3%;
						align-items: center;
						width: 33.33%;

						@include smallPhoneDua() {
							padding: 0;
							
							width: 30%;
							text-align: center;
						}

						i {
							margin-bottom: 10px;
						}

						.bulan {
							font-size: 8pt;
							@include smallPhoneDua() {
								font-size: 6pt;
							}
						}
						
						.waktu {
							font-size: 8pt;

							@include smallPhoneDua() {
								font-size: 6pt;
							}
						}
					}

					.telphone {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						// padding: 10px 3%;
						width: 33.33%;


						@include smallPhoneDua() {
							padding: 0;
							
						}

						i {
							margin-bottom: 1.5rem;

							@include smallPhoneDua() {
								
							}

						}

						.nomor {
							font-size: 8pt;
							@include smallPhoneDua() {
								font-size: 6pt;
								text-align: center;
							}
						}
					}

					.lokasi {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						// padding: 10px 3%;
						width: 33.33%;


						@include smallPhoneDua() {
							padding: 0;
							
						}

						i {
							margin-bottom: 10px;
							@include smallPhoneDua() {
								margin-bottom: 0;
							}
						}

						.tempat {
							font-size: 8pt;
							text-align: center;

							@include smallPhoneDua() {
								text-align: center;
								font-size: 6pt;
							}
						}

						.kota {
							font-size: 8pt;
							@include smallPhoneDua() {
								text-align: center;
								font-size: 6pt;
							}
						}
					}
				}
			}
		}
	}
}


.wrapperTimeline .pembungkusLine .timeline-item:nth-child(odd) .kosong {
	left: 45px;
	bottom: 50px;


	@include smallPhoneDua() {
		left: 30px;
		bottom: 5px;
		text-align: start;
	}
	
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(even) .kosong {
	left: -539px;
	text-align: end;
	// bottom: 300px;
	bottom: 165px;
	@include smallPhoneDua() {
		left: 30px;
		text-align: start;
		bottom: 0;
		// top: 5px;

	}
	
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(even) {

	
	&::after {
			bottom: 395px;
			@include smallPhoneDua() {
				bottom: 91%;
			}
	}
}

.wrapperTimeline .pembungkusLine .timeline-item:nth-child(odd) {
	&::after {
			bottom: 280px;

			@include smallPhoneDua() {
				bottom: 91%;
			}
	}
}













