@import "../../utilities/variable/variables.scss";

// Angka Pagination
.container-angka-pagination {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  .col-angka-pagination {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1px;

    .angka-pagination {
      display: flex;
      list-style: none;
      cursor: pointer;

      .paginationLink {
        display: flex;
        height: 26px;
        width: 26px;
        background: transparent;
        border-radius: 500px;
        color: #d80010;
        font-size: 10.3pt;
        font-weight: 500;
        text-decoration: none;
        margin: 0 10px 0 0;
        justify-content: center;
        align-items: center;
        transition: 0.2s;

        &:hover {
          background: #d80010;
          color: #fff;
          font-size: 12pt;
        }
        .activePagination a {
          background-color: "#d80010";
          border-radius: "100px";
          padding: ".2px";
          color: "#fff";
        }
      }

      .paginationLink.active {
        &:focus {
          color: $accent;
          background: $colors;
        }
      }
    }

    .prev,
    .next {
      color: #d80010;
    }
  }
}
// END Angka Pagination

// // Angka Pagination
// .angka-paginationEvent{
//     list-style: none;

//     .paginationLink{
//         display: flex;
//         // background: transparent;
//         border-radius: 500px;
//         justify-content: center;
//         align-items: center;
//         font-size: 10.3pt;
//         font-weight: 500;
//         text-decoration: none;
//         margin: 0 10px 0 0;
//         height: 26px;
//         width: 26px;

//         // &:hover{
//         //     background: #fff;
//         //     color: #fff;
//         //     font-size: 12pt;
//         //     transition: .100s ease-out;
//         // }
//     }
// }
// // END Angka Pagination
