@import "../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}
.circleCard {
    width: calc(90%/3);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px 0 0px;
    text-decoration: none;
    color: $colors;
    transition: .5s;
    border-radius: 10px;

    @include smallPhone() {
        width: 100%;
        // height: auto;
        padding: .5rem;
        margin: .5rem 0 0 0;
    }

    &:hover {
        color: #ffffff;
        background-color: $colors;
    }

    .imageCircle {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        border: 2px solid #f3f3f3;
        @include smallPhone() {
            width: 10rem;
            height: 10rem;
        }
    }

    .jabatan {
        margin-top: 5px;
        font-size: 7pt;
        // color: $colors;
        font-weight: bold;
    
    }
    .nama {
        text-align: center;
        font-weight: 600;
        width: 56%;
        // border: 1px solid crimson;
        text-transform: uppercase;
        margin-top: .5rem;
        @include smallPhone() {
            width: auto;
            font-size: 10pt;
        }
        @include smallPhoneDua() {
            font-size: 12pt;
        }
    }
}