@import "../../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}


.pageStruktur {

    // START HEADERS
.headers {
    background: url(../../../img/kampanye.jpg);
    background-size: cover;
    height: 25vh;
    background-position: center;

    @include smallPhone() {
        height: 20vh;
    }
    @include smallPhoneDua() {
        height: 15vh;
    }

    .backgrounds {
        background-color: rgba(216, 0, 16, .8);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #ffffff;

        .textBackgroundStruktur {
            width: 30%;
            height: 50%;
            margin-left: 13rem;


            @include smallPhone() {
                width: auto;
                margin-left: 0;
                padding: 0 10%;

            }
        }
    }
}
// END HEADERS
// START LINK PARTAI
.linkedStruktur {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 40%;
    margin-top: 20px;
    padding: $padding;
    @include smallPhone() {
        // border: 1px solid crimson;
        width: 100%;
        padding: $paddingMobile;
    }
}
// END LINK PARTAI

.pengurusPage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: $padding;
        @include smallPhone() {
            padding: $paddingMobile;
        }

        .strukturTextHead {
            margin: 2rem 0;
            text-align: center;
            font-weight: bold;
            color: #000000;
            @include smallPhone() {
                margin: .5rem 0;
            }
            h2 {
                @include smallPhone() {
                    font-size: 15pt;
                }
                @include smallPhoneDua() {
                    font-size: 13pt;
                }
            }
        }

        .pengurusList {
            max-width: 100%;
            padding: 10px 3%;
            

            .listPengurus {
                height: 100%;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}