// @import "../../../utilities/variable/variables.scss";
$smallPhoneSatu: 500px;
$smallPhoneDua: 400px;
@mixin smallPhone {
  @media (max-width : #{$smallPhoneSatu}) {
    @content;
  }
}
@mixin smallPhoneDua {
  @media (max-width : #{$smallPhoneDua}) {
    @content;
  }
}

// min width 1361px and max width 1440px
$responMin1361: 1361px;
$responMax1440: 1440px;

@mixin respon1440 {
  @media (min-width: #{$responMin1361}) and (max-width: #{$responMax1440}) {
    @content;
  }
}
// end min width 1361px and max width 1440px

// min width 951 and max width 1360px
$responMin951: 951px;
$responMax1360: 1360px;

@mixin respon1360 {
  @media (min-width: #{$responMin951}) and (max-width: #{$responMax1360}) {
    @content;
  }
}
// end min width 951 and max width 1360px

// min width 1200 and max width 1360px
$responMin1200: 1200px;
$responMax1360: 1360px;

@mixin respon1200 {
  @media (min-width: #{$responMin1200}) and (max-width: #{$responMax1360}) {
    @content;
  }
}
// end min width 951 and max width 1360px

// Min widht 750 and Max width 950
$responMin750: 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950 {
  @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}) {
    @content;
  }
}
// END Min widht 750 and max width 950

// Min widht 500 and Max width 750
$respon750: 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
  @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
    @content;
  }
}
// END Min widht 500 and Max width 750

.wrapperWejanganThumbnail {
  width: 100%;
  // padding: $paddin;

  .linkedBkbbWBK {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
    padding: 40px 10%;

    @include respon1360() {
      padding: 10px 5%;
    }

    @include respon950() {
      padding: 10px 5%;
    }

    @include respon750() {
      padding: 10px 5%;
    }

    @include smallPhone() {
      width: 100%;
      padding: 0 2%;
    }

    i {
      span {
        margin-left: 5px;
        font-style: italic;
        font-size: 8pt;
      }
    }
  }

  .bkbbText {
    border-bottom: 1px solid rgba(45, 52, 54, 0.2);
    width: 100%;
    text-align: center;
    // height: 10vh;
    margin-top: 0px;

    small {
      cursor: pointer;
      // color: $colors;
      // width: 100%;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 8pt;
      // border-bottom: 5.5px solid $colors;
    }
  }
}

// Container1
.container1-wejanganThumbnail {
  display: flex;
  height: auto;
  width: 100%;
  margin: 0px 0 40px 0;
  padding: 0px 20% 0 20%;
  justify-content: center;
  align-items: center;

  @include respon1440() {
    padding: 0px 10%;
  }

  @include respon1360() {
    flex-direction: column;
    padding: 0 10%;
  }

  @include respon950() {
    flex-direction: column;
    padding: 0 2%;
  }

  @include respon750() {
    flex-direction: column;
    padding: 0 15%;
  }

  @include smallPhone() {
    margin: 0 0 30px 0;
    padding: 0 10px;
  }
}
// END Container1

// Container2
.container2-wejanganThumbnail {
  display: flex;
  //   flex-direction: column;
  width: 100%;
  margin: 0px 0 20px 0;
  padding: 0 20%;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  @include respon1440() {
    padding: 0px 20%;
  }

  @include respon1360() {
    flex-direction: row;
    padding: 0 10%;
  }

  @include respon950() {
    flex-direction: row;
    padding: 0 2%;
  }

  @include respon750() {
    flex-direction: row;
    padding: 0 15%;
  }

  @include smallPhone() {
    flex-direction: column;
    padding: 0 10px;
  }
}

// Column Card Wejangan Bungkarno
.col-card-wejanganThumbnail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0% 0px 0;

  @include smallPhone() {
    position: relative;
    padding: 0 10px 0px 10px;
  }
}
// END Column Card Wejangan Bungkarno

// Column Pagination
.col-pagination-wejanganThumbnail {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0px 0 40px 0;

  @include respon950() {
    padding: 20px 0 40px 0;
  }

  @include respon750() {
    flex-direction: column;
    padding: 20px 0 40px 0;
  }

  @include smallPhone() {
    padding: 20px 0 40px 0;
  }
}
// END Column Pagination

.col1-container-1-bkbbWejangan {
  width: 100%;
  padding: 0 20%;
  margin-bottom: 40px;

  @include smallPhone() {
    padding: 0;
    margin: 10px 0;
  }
  @include respon950() {
    padding: 0 20px;
    margin: 10px 0;
  }

  @include respon750() {
  }

  @include respon1360() {
    flex-direction: row;
    padding: 0 10%;
  }
}
