$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// min width 1361px and max width 1440px
$responMin1361: 1361px;
$responMax1440: 1440px;

@mixin respon1440{
    @media (min-width: #{$responMin1361}) and (max-width: #{$responMax1440}){
        @content;
    }
}
// end min width 1361px and max width 1440px

// min width 951 and max width 1360px
$responMin951: 951px;
$responMax1360: 1360px;

@mixin respon1360{
    @media (min-width: #{$responMin951}) and (max-width: #{$responMax1360}){
        @content;
    }
}
// end min width 951 and max width 1360px

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750


@import "../../../utilities/variable/variables.scss";


.wrapperMateriThumbnail {
    width: 100%;

    .linkedMateriThumbnail {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: 10px 10%;

        @include respon1360(){
            padding: 10px 5%;
        }

        @include respon950(){
            padding: 10px 5%;
        }

        @include respon750(){
            padding: 10px 5%;
        }

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }

        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }
}

// Container1
.container1-materiThumbnail{
    display: flex;
    height: auto;
    width: 100%;
    padding: 0px 20% 0 20%;
    justify-content: center;
    align-items: center;

    @include respon1440(){
        padding: 0px 10%;
    }

    @include respon1360(){
        flex-direction: column;
        padding: 0 5%;
    }

    @include respon950(){
        flex-direction: column;
        padding: 0 2%;
    }

    @include respon750(){
        flex-direction: column;
        padding: 0 15%;
    }

    @include smallPhone(){
        margin: 0;
        height: auto;
        padding: 0px 10px 0px 10px;
    }
}
// END Container1

// Container2
.container2-materiThumbnail{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0px 0 0px 0;
    padding: 0 20%;
    
    @include respon1440(){
        padding: 0px 10%;
    }

    @include respon1360(){
        flex-direction: column;
        padding: 0 5%;
    }

    @include respon950(){
        flex-direction: column;
        padding: 0 2%;
    }

    @include respon750(){
        flex-direction: column;
        padding: 0 15%;
    }

    @include smallPhone(){
        margin: 0;
        padding: 0;
    }

    // Column Card Materi Pokok
    .col-card-materiThumbnail{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0px 0 0px 0;
        @include smallPhone(){
            margin: 0 0 0px 0;
        }
    }
    // END Column Card Materi Pokok

    // Column Pagination
    .col-pagination-materi-pokok{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0px 0 40px 0;

        @include respon1360(){
            padding: 20px 0 40px 0;
        }

        @include respon950(){
            padding: 20px 0 40px 0;
        }

        @include respon750(){
            padding: 20px 0 40px 0;
        }

        @include smallPhone(){
            padding: 0 0 40px 0;
        }
    }
    // END Column Pagination
}
// END Container2