$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@import "../../utilities/variable/variables.scss";

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750
 
 // MUSIC PDI MOBILE
 .musicPdiMobile {
    
    display: none;

    // min width 7500px and max width 950px
    @include respon950(){
        display: flex;
        flex-direction: column;
        padding: 0 20%;
    }
    // end min width 500px and max width 750px

    // min width 350px and max width 750px
    @include respon750(){
        display: flex;
        flex-direction: column;
        padding: 0 15%;
    }
    // end min width 500px and max width 750px

    @include smallPhone() {
        display: flex;
        padding: 0px 10px;
        // border: 1px solid green;
        display: flex;
        flex-direction: column;
    }

    .wrapperMobileMusic {

        .headlineMusic {
            // min width 750px and max width 950px
            @include respon950(){
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                background: $darkRed;
                padding: 20px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            // end min width 750px and max width 950px

            // min width 500px and max width 750px
            @include respon750(){
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                background: $darkRed;
                padding: 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            // end min width 500px and max width 750px

            @include smallPhone() {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                background: $darkRed;
                padding: 10px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
    
            .headlineText {
                // min width 750px and max width 950px
                @include respon950(){
                    width: min-content;
                    color: $accent;
                    font-weight: 500;
                    font-size: 20pt;
                    margin-left: 1rem;
                }
                // end min width 750px and max width 950px

                // min width 500px and max width 750px
                @include respon750(){
                    width: min-content;
                    color: $accent;
                    font-weight: 500;
                    font-size: 20pt;
                    margin-left: 1rem;
                }
                // end min width 500px and max width 750px

                @include smallPhone() {
                    width: min-content;
                    color: $accent;
                    font-weight: 500;
                    font-size: 20pt;
                    margin-left: 1rem;
                }
            }
        }

        .judulMusic {
            @include smallPhone() {
                display: flex;
                justify-content: center;
                height: auto;
                // align-items: center;
                flex-direction: column;
                width: 100%;
                background: $lightRed;
                padding: 20px 10%;
                color: $accent;
            }
            .judul {
                @include smallPhone() {
                    font-weight: 700;
                    letter-spacing: .5px;
                    // border: 1px solid blue;

                }
            }
            .judulDesc {
                @include smallPhone() {
                    // border: 1px solid blue;
                    font-size: 10pt;
                    font-weight: 300;
                }
            }
        }
        .lirikMobile {
            // min width 750px and max width 950px
            @include respon950(){
                background: $brown;
                width: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                padding: 20px 10%;
            }
            // end min width 750px and max width 950px

            // min width 500px and max width 750px
            @include respon750(){
                background: $brown;
                width: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                padding: 20px 10%;
            }
            // end min width 500px and max width 750px

            @include smallPhone() {
                background: $brown;
                width: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                padding: 20px 10%;
            }
            .lirikMobileContainer {
                @include smallPhone() {
                    // border: 1px solid blue;
                    width: 100%;
                    color: $accent;
                }
                span {
                    font-weight: 300;
                    // font-size: 10pt;
                }
                .wrapperLirik {
                    display: flex;
                    overflow: scroll;
                    flex-direction: column;
                    overflow-x: hidden;
                    height: 40vh;

                    .liriks {
                        margin-top: 1rem;
                        font-size: 10pt;
                        font-weight: 300;
                        width: 70%;
                    }
                }
                .wrapperLirik::-webkit-scrollbar {
                    width: 6px;
                }
                .wrapperLirik::-webkit-scrollbar-thumb {
                    background: $darkRed;
                    border-radius: 5px;
                }
                .wrapperLirik::-webkit-scrollbar-track {
                    background: $accent;
                    border-radius: 5px;
                }
            }
        }
        
        .playlist {
            width: 100%;
            background: $accent;
            display: flex;
            flex-direction: column;
            height: auto;
            // overflow: scroll;

            // Modal Lirik Music Mobile
            .modal-lirik-musicMobile{
                display: flex;
                flex-direction: column;
                width: 100%;
                color: #fff;
                padding: 0px 0 0 0%;
                overflow: hidden;

                // Download Music
                .wrapperDownload {
                    display: flex;
                    // background: $brown;
                    justify-content: space-between;
                    padding: 20px 10%;
        
                    img {
        
                    @include smallPhone() {
                            width: 40px;
                        }
                    }
                }
                // END Download Music

                // Button Play Music Mobile
                .playMusicMobile {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    background: $darkRed;
                    color: $accent;
                    // border-bottom-right-radius: 5px;
                    // border-bottom-left-radius: 5px;
                    // border: 1px solid blue;
                    
                    .player-track {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        flex-direction: column;

                        .time {
                            font-size: 16px;
                            margin: 10px 0;
                        }
                        .progress-bar {
                            background: #d0d8e6;
                            height: 5px;
                            border-radius: 20px;
                            width: 100%;

                            .fillBar {
                                background: #a3b3ce;
                                width: 0;
                                height: 5px;
                                border-radius: 20px;
                            }
                        }

                    }

                    .playerControl {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        padding: 1rem 0;
                        box-shadow: 0px 15px 35px -5px rgba(206, 206, 206, 0.32);

                        i {
                            font-size: 25pt;
                            &::before {
                                color: #ffffff;
                            }
                            &:hover::before {
                                color: $accent;
                                opacity: .7;
                            }
                        }
                    }
                    
                }
                // END Button Play Music Mobile

                .txt-lirik-musicMobile{
                    padding: 10px 5% 0 5%;
                    overflow-y: scroll;
                }

                .txt-lirik-musicMobile::-webkit-scrollbar {
                    width: 3px;
                }
                .txt-lirik-musicMobile::-webkit-scrollbar-thumb {
                    background: $darkRed;
                    border-radius: 3px;
                }
                .txt-lirik-musicMobile::-webkit-scrollbar-track {
                    background: $accent;
                    border-radius: 3px;
                }
            }
            // END Modal Lirik Music Mobile

            .playlistCustom {
                display: flex;
                flex-direction: column;
                padding: 0px 0;
                // color: $lightRed;
                transition: 0.3s all ease-in-out;

                @include respon950(){
                    padding: 20px 0;
                }

                strong{
                    padding: 10px 5% 0 5%;
                }

                span {
                    // font-size: 10pt;
                    padding: 0 5% 10px 5%;
                }

                &:hover {
                    background: $darkRed;
                    color: $accent;
                }
            }            
        }
    }
}