// Carousel
.carousel3-pemiluPage{
    display: flex;
    height: auto;
    width: 100%;

    .box-carousel3-pemiluPage{
        display: flex;
        height: 100%;
        width: 100%;
        background: #fff;

        .carousel-item{
            height: 100%;
            width: 100%;    

            .img1{
                display: flex;
                height: 100%;
                width: 100%;
                background-image: url(../../img/pemilu2.jpg);
                background-size: cover;
                background-position: center;
            }
        }

        .carousel-item{
            height: 100%;
            width: 100%;
        }

        .carousel-item{
            height: 100%;
            width: 100%;
        }
    }

    #btn-left-carousel3{
        display: flex;
        height: 35px;
        width: 35px;
        background: #d80010;
        color: #fff;
        border-radius: 500px;
        margin: 250px 0 0 300px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
    
    #btn-right-carousel3{
        display: flex;
        height: 35px;
        width: 35px;
        background: #d80010;
        color: #fff;
        border-radius: 500px;
        margin: 250px 300px 0 0px;
        transition: .5s;

        &:hover{
            opacity: 1;
        }
    }
}
// END Carousel
