@import "../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

.wrapperBread {
    width: 100%;

    

    ul {
        list-style: none;
        
        li {
            margin: .1rem;
            font-size: 8pt;
            font-style: italic;

            @include smallPhone() {
                font-size: 7pt;
            }
            a {
                text-decoration: none;
                color: $colors;
            }
        }
    }
}