
body {
  /* margin: 0; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  user-select: none;
  overflow-x: hidden;
  margin-top: 117px;
}

* {
  box-sizing: border-box;
}

html {
  padding: 0px;
  margin: 0px;
  /* overflow: hidden; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

/* p{
  font-size: 10pt;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  object-fit: cover;
  object-position: center;
}


@media only screen and (max-width: 500px) {
  body{
    margin-top: 78px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
  body{
    margin-top: 91px;
  }
}

