@import "../../../utilities/variable/variables.scss";

$smallPhoneSatu: 500px;
$smallPhoneDua: 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$res501: 501px;
$res750: 750px;

@mixin respo501750 {
    @media (min-width : #{$res501}) and (max-width : #{$res750}) {
        @content;
    }
}

$res751: 751px;
$res990: 990px;

@mixin resp990 {
    @media (min-width : #{$res751}) and (max-width : #{$res990}) {
        @content;
    }
}

// Modal Display Search
.modal-display-search {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    background: #f3f3f3;
    margin: 0 0 40px 0;
    padding: 0 0 20px 0;

    @include smallPhone() {
        padding: 0 0 20px 0;
        height: auto;
    }

    // Bg Black Search
    .background-black-search {
        display: flex;
        position: relative;
        height: 10vh;
        width: 100%;
        background: #333;
        padding: 0 0 0 20%;
        align-items: center;

        @include smallPhone() {
            padding: 0 10px;
        }

        @include respo501750() {
            justify-content: center;
            padding: 0;
        }

        @include resp990() {
            justify-content: center;
            padding: 0;
        }

        .txt-kata-yang-diCari {
            margin: 0;

            @include smallPhone() {
                display: none;
                font-size: 10pt;
                margin: 0;
            }
        }

        // Txt Group
        #txtGroup {
            color: #fff;
        }

        .kolom-search-modal {
            display: flex;
            position: relative;
            height: auto;
            width: auto;
            margin: 5px 0 0 50px;
            z-index: 22;

            // For Save Change Text
            .box-change-text {
                display: flex;
                position: absolute;
                height: 100%;
                width: 100%;
                z-index: -1;

                .txt-change-text-search {
                    display: flex;
                    color: #fff;
                }
            }
            // END For Save Change Text

            @include smallPhone() {
                position: absolute;
                margin: 0 0 0 10px;
                left: 50px;
                right: 50px;
            }

            .input-search {
                height: 3vh;
                width: 100%;
                background: none;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                padding: 0px 2vw 5px 0px;
                font-size: 20px;
                font-weight: 500;

                @include smallPhone() {
                    height: auto;
                    font-size: 13pt;
                    padding: 0 30px 0px 0;
                }
            }

            .btn-icon-pageSearch {
                position: absolute;
                top: -5px;
                right: -5px;
                outline: none;
                border: none;
                background: none;
            }
        }
    }
    // END Bg Black Search

    // Container Hasil Pencarian
    .container-hasil-pencarian {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 20% 0px 20%;

        @include smallPhone() {
            padding: 0 10px;
        }

        @include respo501750() {
            padding: 0 5%;
        }

        @include resp990() {
            padding: 0 10%;
        }

        // Column1
        .column1-hasil-pencarian {
            display: flex;
            position: relative;
            height: 10vh;
            width: 100%;
            align-items: center;

            @include smallPhone() {
                height: 15vh;
                flex-direction: column;
                justify-content: center;
                padding: 0px 0 0 0;
            }

            .txt-hasil-pencarian {
                display: flex;
                // font-size: 15px;
                margin: 0 10px 0 0;
                position: absolute;

                @include smallPhone() {
                    position: static;
                }
            }

            .garis-abu-abu {
                display: flex;
                height: 3px;
                width: 100%;
                margin: 0 0 0 130px;
                background: #bbb;

                @include smallPhone() {
                    margin: 10px 0 0 0;
                }
            }
        }
        // END Column1

        // Column2
        // Card hasil pencarian
        .column2-hasil-pencarian {
            display: flex;
            height: auto;
            width: 100%;
            margin-top: 0px;

            @include smallPhone() {
                flex-direction: column;
            }

            // Info kiri
            .column-info-kiri {
                display: flex;
                flex-direction: column;
                height: auto;
                width: 100%;

                @include smallPhone() {
                    width: 100%;
                }

                @include respo501750() {
                    width: 100%;
                    margin: 0;
                }

                @include resp990() {
                    margin: 0;
                    width: 100%;
                }

                // Card Search
                // .card-hasil-pencarian{
                //     display: flex;
                //     height: auto;
                //     width: 100%;
                //     margin: 0 0 20px 0;
                //     padding: 0 0 10px 0;
                //     border-bottom: 1px solid #aaa;
                //     text-decoration: none;
                //     color: #000;
                //     transition: .3s;

                //     &:hover{
                //         color: $colors;
                //     }

                //     // @include smallPhone(){
                //     //     border: 1px solid blue;
                //     // }

                //     // Img
                //     .img-card{
                //         display: flex;
                //         height: auto;
                //         width: 70px;
                //         object-fit: cover;
                //         object-position: center;
                //         background: #555;
                //     }

                //     // Content card
                //     .column-content-card{
                //         display: flex;
                //         flex-direction: column;
                //         height: auto;
                //         width: 100%;
                //         margin: 0 0 0 20px;
                //         padding: 0 5% 0 0;

                //         @include smallPhone(){
                //             margin: 0 0 0 10px;
                //             padding: 0;
                //         }

                //         .column-title-card{
                //             display: flex;
                //             width: 100%;

                //             .title1-card{
                //                 color: $colors;

                //                 @include smallPhone(){
                //                     font-size: 8pt;
                //                 }
                //             }

                //             .title2-card{
                //                 margin: 0 0 0 5px;
                //                 color: #555;

                //                 @include smallPhone(){
                //                     font-size: 8pt;
                //                 }
                //             }
                //         }

                //         .txt-paragrap-card{
                //             display: flex;
                //             height: auto;
                //             width: 100%;
                //             text-align: start;
                //             margin: 10px 0 0 0;

                //             @include smallPhone(){
                //                 font-size: 10pt;
                //                 margin: 5px 0 0 0;
                //             }
                //         }
                //     }
                // }
                // END Card Search
            }
            // END Info kiri

            // Info kanan
            .column-info-kanan {
                display: flex;
                flex-direction: column;
                height: auto;
                width: 25%;

                @include smallPhone() {
                    display: none;
                    width: 100%;
                    margin: 10px 0 0 0;
                }

                .btn-info-kanan {
                    display: flex;
                    height: 3vh;
                    width: 100%;
                    align-items: center;
                    margin: 0 0 10px 0;
                    color: #000;
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        color: $colors;
                    }

                    i {
                        font-size: 15px;
                    }
                }

                .title-info {
                    display: flex;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin: -2px 0 0 10px;
                }
            }
            // END Info kanan
        }
        // END Card hasil pencarian
        // END Column2

        // Column3 Paginate
        .column3-pagination-pencarian {
            display: flex;
            height: auto;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin: 0px 0 0 0;

            @include smallPhone() {
                margin: 0;
            }

            .container-angka-pagination {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-top: 40px;
                .col-angka-pagination {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    .angka-pagination {
                        display: flex;
                        list-style: none;
                        cursor: pointer;
                        padding: 0;

                        .paginationLink {
                            display: flex;
                            height: 26px;
                            width: 26px;
                            background: transparent;
                            border-radius: 100%;
                            color: #d80010;
                            font-size: 10.3pt;
                            font-weight: 500;
                            text-decoration: none;
                            margin: 0 10px;
                            justify-content: center;
                            align-items: center;
                            transition: 0.2s;

                            &:hover {
                                background: #d80010;
                                color: #fff;
                                font-size: 12pt;
                            }

                            &.activePagination {
                                background-color: #d80010;
                                border-radius: 100px;
                                padding: 0.2px;
                                color: #fff;
                            }

                            @include smallPhone() {
                                margin: 0;
                            }
                        }
                    }

                    .prev,
                    .next {
                        color: #d80010;
                        transition: .2s;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 10px;
                        width: 26px;
                        height: 26px;
                        &:hover {
                            color: #fff;
                            background-color: #d80010;
                            border-radius: 100%;
                            border-radius: 50px;
                            
                        }
                    }
                }
            }
        }
        // END Column3 Paginate
    }
    // END Container Hasil pencarian
}
// END Modal Display Search
