$padding : 10px 10%;

.wrapperVideo {
    width: 100%;
    padding: $padding;
    .linkedVideo {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;

        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }
    .wrapperPlayVid {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 65vh;
        margin-top: 1.5rem;

        .kolumVideo {
            width: 70%;
            // border: 1px solid blue;
            display: flex;
            height: 100%;
            
            iframe {
                width: 100%;
                height: 100%;
            }
        }

        .descVideo {
            width: 30%;
            // border: 1px solid crimson;
            display: flex;
            flex-direction: column;
            height: 100%;
            margin-left: 1rem;
            position: relative;

            .textTop {
                display: flex;
                width: 100%;
                flex-direction: row;
                font-size: 9pt;
                position: relative;

                small {
                    color: #d80010;
                }

                .countLove {
                    position: absolute;
                    right: 0;

                    i {
                        margin-right: .5rem;
                        color: #d80010;
                    }
                    small {
                        color: #818181;
                    }
                }
            }
            .headline {
                margin-top: 1rem;
                font-weight: bold;
            }

            p {
                font-size: 10pt;
            }
            .descline {
                margin-top: 1rem;
            }

            .share {
                font-size: 10pt;
                position: absolute;
                bottom: 0;

                .marginShare {
                    margin: 0 .8rem;
                }

                i {
                    cursor: pointer;
                    transition: .3s;
                    &:hover {
                        color: #d80010;
                    }
                }
            }
        }
    }
    .dividerVideo {
        margin-top: 3.5rem;
        border-bottom: 1px solid rgba(45, 52, 54, 0.2);
        // background-color: #2d3436;
        width: 100%;
        text-align: center;

        .borderVideo {
            width: 5%;
            height: 5px;
            background-color: #d80010;
            position: absolute;
            // top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}