@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750

// Min widht 750 and Max width 950
$responMin750 : 750px;
$responMax950: 950px;
// END Min widht 750 and Max width 950

// Min width 750 and max width 950
@mixin respon950{
    @media (min-width: #{$responMin750}) and (max-width: #{$responMax950}){
        @content;
    }
}
// END Min widht 750 and max width 950

.wrapperPlayVid {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50vh;
    // margin-top: 1.5rem;

    // min width 750px and max width 950px
    @include respon950(){
        height: auto;
        flex-direction: column;
    }
    // end min widt 750px and max width 950px

    // min width 500px and max width 750px
    @include respon750(){
        height: auto;
        flex-direction: column;
    }
    // end min width 500px and max width 750px

    @include smallPhone() {
        flex-direction: column;
        height: auto;
        margin-top: 0;
    }

    .kolumVideo {
        // border: 1px solid blue;
        display: flex;
        height: auto;
        width: 70%;

        // min width 750px and max width 950px
        @include respon950(){
            height: 50vh;
            width: 100%;
        }
        // end min width 750px and max width 950px

        // min width 500px and max width 750px
        @include respon750(){
            height: 40vh;
            width: 100%;
        }
        // end min width 500px and max width 750px

        @include smallPhone() {
            width: 100%;
            height: 50vh;
        }
        
        .iframe-Vmedia {
            display: flex;
            width: 100%;
            height: 100%;
        }
    }

    .descVideo {
        width: 30%;
        // border: 1px solid crimson;
        display: flex;
        flex-direction: column;
        height: 50vh;
        // margin-left: 1rem;
        padding: 25px 5px 25px 25px;
        background-color: $darkRedTwo;
        color: #fff;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;

        // min width 750px and max width 950px
        @include respon950(){
            height: auto;
            width: 100%;
            padding: 10px 20px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        // end min width 750px and max width 950px

        // min width 500px and max width 750px
        @include respon750(){
            height: auto;
            width: 100%;
            padding: 10px 20px;
            justify-content: start;
            text-align: start;
        }
        // end min width 500px and max width 750px

        @include smallPhone() {
            width: auto;
            padding: 0;
            height: auto;
            padding: 10px 20px;
            justify-content: flex-start;
            text-align: start;
        }

        .textTop {
            display: flex;
            width: 100%;
            flex-direction: row;
            // font-size: 9pt;
            // align-items: center;

            // min width 750px and max width 950px
            // @include respon950(){
            //     justify-content: center;
            // }
            // end min width 750px and max width 950px

            // min width 500px and max width 750px
            // @include respon750(){
            //     justify-content: center;
            // }
            // end min width 500px and max width 750px

            // @include smallPhone(){
                
            // }

            small {
                color: #fff;
                margin-right: 20px;

                @include respon950(){
                    margin-right: 20px;
                }

                @include respon750(){
                    margin-right: 20px;
                }

                @include smallPhone(){
                    margin-right: 20px;
                }
            }

            .countLove {
                margin-left: auto;
                i {
                    margin-right: .5rem;
                    color: $colors;
                }
                small {
                    color: #818181;
                }
            }
        }
        .headline {
            margin-top: 1rem;
            margin-right: 20px;
            font-weight: bold;

            @include smallPhone(){
                margin-right: 0;
            }

            // min width 500px and max width 750px
            // @include respon750(){
            //     text-align: center;
            // }
            // end min width 500px and max width 750px

            // @include smallPhone() {
            //     text-align: center;
            // }
        }

        // p {
        //     // font-size: 10pt;
        //     // @include smallPhone() {
        //     //     text-align: center;
        //     //     // font-size: 9pt;
        //     // }
        // }
        .descline {
            overflow-y: scroll;
            padding: 0 10px 0 0;

            @include smallPhone(){
                padding: 0;
            }
        }

        .descline::-webkit-scrollbar{
            width: 3px;
        }
    
        .descline::-webkit-scrollbar-thumb{
            background-color: #f3f3f3;
            border-radius: 3px;
        }
    
        .descline::-webkit-scrollbar-track{
            background-color: $darkRedTwo;
            border-radius: 3px;
        }

        // @include respon950(){
        //     justify-content: center;
        //     text-align: center;
        // }

        // @include respon750(){
        //     justify-content: center;
        //     text-align: center;
        // }

        .share {
            // font-size: 10pt;
            // position: absolute;
            margin-top: auto;
            bottom: 0;

            // @include smallPhone() {
            //     position: inherit;
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            //     font-size: 9pt;
            // }

            .marginShare {
                // margin: 0 .5rem;
                align-items: center;
            }
            i {
                cursor: pointer;
                transition: .3s;
                margin: 0 .5rem;
                // &:hover {
                //     color: $colors;
                // }
            }
        }
    }
}