.image1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../img/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .image1 {
<<<<<<< HEAD
    height: 50vh;
=======
    height: 29.5vh;
>>>>>>> ridwan
  }
}

.image1 .text1 {
  height: 100%;
  padding-left: 15%;
  padding-top: 10%;
  color: #ffffff;
  text-align: left;
  background: url(../../img/bg_text.svg);
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
}

@media (max-width: 600px) {
  .image1 .text1 {
    background: none;
<<<<<<< HEAD
    height: 20vh;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -1px 10px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -1px 10px -2px rgba(0, 0, 0, 0.75);
=======
    height: 10vh;
    padding: 0;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
>>>>>>> ridwan
    background-color: rgba(185, 2, 2, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
<<<<<<< HEAD
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
=======
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
>>>>>>> ridwan
    padding: 1rem;
  }
}

.image1 .text1 h1 {
  position: absolute;
  bottom: 45%;
  text-transform: uppercase;
  width: 25%;
}

@media (max-width: 600px) {
  .image1 .text1 h1 {
<<<<<<< HEAD
    text-align: center;
    font-size: 10pt;
=======
    position: initial;
    font-size: 7pt;
>>>>>>> ridwan
    width: 50%;
  }
}

.image1 .text1 p {
  width: 25%;
  position: absolute;
  bottom: 30%;
  font-size: 10pt;
}

@media (max-width: 600px) {
  .image1 .text1 p {
<<<<<<< HEAD
    text-align: center;
    font-size: 5pt;
    width: 80%;
    bottom: 10%;
=======
    position: initial;
    font-size: 5pt;
    width: 50%;
>>>>>>> ridwan
  }
}

.image2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../img/slider2.jpg);
  background-size: cover;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .image2 {
    height: 50vh;
  }
}

=======
>>>>>>> ridwan
.image2 .text2 {
  height: 100%;
  padding-left: 15%;
  padding-top: 10%;
  color: #ffffff;
  text-align: left;
  background: url(../../img/bg_text.svg);
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .image2 .text2 {
    background: none;
    height: 20vh;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0px -1px 10px -2px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -1px 10px -2px rgba(0, 0, 0, 0.75);
    background-color: rgba(185, 2, 2, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}

=======
>>>>>>> ridwan
.image2 .text2 h1 {
  position: absolute;
  bottom: 45%;
  text-transform: uppercase;
  width: 25%;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .image2 .text2 h1 {
    text-align: center;
    font-size: 10pt;
    width: 50%;
  }
}

=======
>>>>>>> ridwan
.image2 .text2 p {
  width: 25%;
  position: absolute;
  bottom: 30%;
  font-size: 10pt;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .image2 .text2 p {
    text-align: center;
    font-size: 5pt;
    width: 80%;
    bottom: 10%;
  }
}

=======
>>>>>>> ridwan
.carousel {
  width: 100%;
}

.carousel .carousel-inner {
  background-color: red;
}

.carousel .carousel-inner .carousel-item {
  width: 105%;
}

.carousel .carousel-indicators {
  right: auto;
  bottom: 5%;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .carousel .carousel-indicators {
<<<<<<< HEAD
    bottom: 40%;
    margin-bottom: .5rem;
    left: 29%;
=======
    bottom: 23%;
>>>>>>> ridwan
  }
}

@media (max-width: 600px) {
  .carousel .carousel-indicators .indikator {
    font-size: 8pt;
  }
}

.carousel .carousel-indicators .active {
  opacity: 1;
}

.carousel .carousel-indicators small {
  cursor: pointer;
  margin: 0 10px;
  opacity: 0.5;
  color: #ffffff;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

@media (max-width: 600px) {
  .carousel .carousel-indicators small {
    margin: 0 5px;
  }
}

.carousel button {
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  background: none;
  border: 1px solid #ffffff;
  height: 40px;
  color: #ffffff;
  position: absolute;
  bottom: 8%;
  left: 10%;
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 600px) {
  .carousel button {
<<<<<<< HEAD
    left: 9999px;
=======
    width: 15px;
    height: 15px;
    bottom: 37%;
    text-align: center;
>>>>>>> ridwan
  }
}

.carousel button:hover {
  background-color: #ffffff;
  color: #222222;
}

.carousel button i {
  font-size: 10px;
}

@media (max-width: 600px) {
  .carousel button i {
    font-size: 4pt;
  }
}

.prev-text {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  line-height: .7;
}

.prev-text span {
  font-size: 13px;
}

<<<<<<< HEAD
@media (max-width: 600px) {
  .prev-text span {
    font-size: 7pt;
    display: block;
  }
}

=======
>>>>>>> ridwan
.prev-text i {
  font-size: 15px;
  height: 15px;
  width: 10px;
}

@media (max-width: 600px) {
  .prev-text i {
    display: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  text-decoration: none;
}
/*# sourceMappingURL=MainSlider.css.map */