$phoneSatu : 600px;
@import "../../utilities/variable/variables.scss";


@mixin phoneSatu {
    @media (max-width : #{$phoneSatu}) {
        @content;
    }
}


.image1 {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @include phoneSatu() {
        
        height: 50vh;
    }
    

    .text1 {
        height: 100%;
        padding-left: 15%;
        padding-top: 10%;
        color: #ffffff;
        // border: 1px solid green;
        text-align: left;
        background: url(../../img/bg_text.svg);
        background-size: cover;
        opacity: 0.8;
        background-repeat: no-repeat;

        @include phoneSatu() {
            background: none;
            height: 20vh;
            padding: 0;
            position: absolute;
            bottom: 0;
            // left: 0;
            width: 100%;
            // border-top-left-radius: 25px;
            // border-top-right-radius: 25px;
            box-shadow: 0px -1px 10px -2px rgba(0,0,0,0.75);
            background-color: rgba(216, 0, 16, .7);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
        }
    
        
        h1 {
            position: absolute;
            bottom: 45%;
            // left: 20%;
            text-transform: uppercase;
            width: 25%;
        // border: 1px solid green;

        @include phoneSatu() {
            // position: initial;
            text-align: center;
            font-size: 10pt;
            width: 50%;
        }
            

        }
        p {
            width: 25%;
            position: absolute;
            bottom: 30%;
            font-size: 10pt;

            @include phoneSatu() {
                // position: initial;
                text-align: center;
                font-size: 5pt;
                width: 80%;
                bottom: 10%;
            }
        }
        
    }
}

.image2 {
    height: 100vh;
    width: 100%;
    background-image: url(../../img/slider2.jpg);
    background-size: cover;

    @include phoneSatu() {
        height: 50vh;
    }

    .text2 {
        height: 100%;
        padding-left: 15%;
        padding-top: 10%;
        color: #ffffff;
        // border: 1px solid green;
        text-align: left;
        background: url(../../img/bg_text.svg);
        background-size: cover;
        opacity: 0.8;
        background-repeat: no-repeat;

        @include phoneSatu() {
            background: none;
            height: 20vh;
            padding: 0;
            position: absolute;
            bottom: 0;
            // left: 0;
            width: 100%;
            // border-top-left-radius: 25px;
            // border-top-right-radius: 25px;
            box-shadow: 0px -1px 10px -2px rgba(0,0,0,0.75);
            background-color: rgba(216, 0, 16, .7);

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 1rem;
        }

        h1 {
            position: absolute;
            bottom: 45%;
            // left: 20%;
            text-transform: uppercase;
            width: 25%;
        // border: 1px solid green;
            
        @include phoneSatu() {
            // position: initial;
            text-align: center;
            font-size: 10pt;
            width: 50%;
        }

        }
        p {
            width: 25%;
            position: absolute;
            bottom: 30%;
            font-size: 10pt;
            
            @include phoneSatu() {
                // position: initial;
                text-align: center;
                font-size: 5pt;
                width: 80%;
                bottom: 10%;
            }
        }
    }
}

.carousel {
    width: 100%;

    .carousel-inner {
        background-color: $colors;
        .carousel-item {
            width: 105%;
        }
    }
    
    .carousel-indicators {
        right: auto;
        bottom: 5%;
        margin-bottom: 30px;
        @include phoneSatu() {
            bottom: 40%;
            // display: inline-block;
            // left: 25%;
            // margin: 0;
            margin-bottom: .5rem;
            left: 29%;
            
        }
        .indikator {
            @include phoneSatu() {
                font-size: 8pt;
                
            }
        }

        .active {
            opacity: 1;
        }

        small {
            cursor: pointer;
            margin: 0 10px;
            opacity: 0.5;
            color: #222222;
            transition: opacity .6s ease;
            // border: 1px solid blue;
            background: #ffffff;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            font-size: 9pt;
            text-align: center;
            

            @include phoneSatu() {
                margin: 0 5px;
            }
            
        }
    }

    button {
        border: none;
        border-radius: 50%;
        // position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        background: none;
        border: 1px solid #ffffff;
        height: 25px;
        color: #ffffff;
        position: absolute;
        // bottom: 8%;
        bottom: 9%;
        left: 10%;
        z-index: 10;
        // border: 1px solid blue;
        transition: .3s;

        @include phoneSatu() {
            left: 9999px;
        }
        

        &:hover {
            background-color: #ffffff;
            color: #222222;
        }
        i {
            font-size: 10px;
            @include phoneSatu() {
                font-size: 4pt;
            }
            
        }
}
    
        
}

.prev-text {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    line-height: .7;

    span {
        font-size: 13px;
        
        @include phoneSatu() {
            font-size: 7pt;
            display: block;
        }
    }

    i {
        font-size: 15px;
        height: 15px;
        width: 10px;
        // border: 1px solid blue;
        @include phoneSatu() {

            display: none;
        }
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
    text-decoration: none;
}

