.image1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../img/slider.jpg);
  background-size: cover;
}

@media (max-width: 1085px) {
  .image1 {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1000px) {
  .image1 {
    background-size: contain;
    height: 94.5vh;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .image1 {
    background-size: contain;
    height: 94vh;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .image1 {
    background-size: contain;
    height: 68vh;
    background-repeat: no-repeat;
  }
}

.image1 .text1 {
  height: 100%;
  padding-left: 15%;
  padding-top: 10%;
  color: #ffffff;
  text-align: left;
  background: url(../../img/bg_text.svg);
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
}

@media (max-width: 1085px) {
  .image1 .text1 {
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .image1 .text1 {
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 991px) {
  .image1 .text1 {
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 719px) {
  .image1 .text1 {
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.image1 .text1 h1 {
  position: absolute;
  bottom: 45%;
  text-transform: uppercase;
  width: 25%;
}

@media (max-width: 1085px) {
  .image1 .text1 h1 {
    font-size: 20pt;
    bottom: 55%;
  }
}

@media (max-width: 1000px) {
  .image1 .text1 h1 {
    font-size: 17pt;
  }
}

@media (max-width: 991px) {
  .image1 .text1 h1 {
    left: 10%;
    font-size: 15pt;
  }
}

@media (max-width: 719px) {
  .image1 .text1 h1 {
    font-size: 10pt;
  }
}

.image1 .text1 p {
  width: 25%;
  position: absolute;
  bottom: 30%;
  font-size: 10pt;
}

@media (max-width: 1000px) {
  .image1 .text1 p {
    font-size: 8pt;
  }
}

@media (max-width: 991px) {
  .image1 .text1 p {
    left: 10%;
    font-size: 8pt;
  }
}

@media (max-width: 719px) {
  .image1 .text1 p {
    font-size: 6pt;
  }
}

.image2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../img/slider2.jpg);
  background-size: cover;
}

@media (max-width: 1085px) {
  .image2 {
    background-size: contain;
  }
}

@media (max-width: 1000px) {
  .image2 {
    background-size: contain;
    height: 94.5vh;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .image2 {
    background-size: contain;
    height: 94vh;
    background-repeat: no-repeat;
  }
}

@media (max-width: 991px) {
  .image2 {
    background-size: contain;
    height: 68vh;
    background-repeat: no-repeat;
  }
}

.image2 .text2 {
  height: 100%;
  padding-left: 15%;
  padding-top: 10%;
  color: #ffffff;
  text-align: left;
  background: url(../../img/bg_text.svg);
  background-size: cover;
  opacity: 0.8;
  background-repeat: no-repeat;
}

@media (max-width: 1085px) {
  .image2 .text2 {
    background-size: contain;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 1000px) {
  .image2 .text2 {
    background-size: contain;
  }
}

@media (max-width: 991px) {
  .image2 .text2 {
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 719px) {
  .image2 .text2 {
    background-size: contain;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.image2 .text2 h1 {
  position: absolute;
  bottom: 45%;
  text-transform: uppercase;
  width: 25%;
}

@media (max-width: 1085px) {
  .image2 .text2 h1 {
    font-size: 20pt;
    bottom: 55%;
  }
}

@media (max-width: 1000px) {
  .image2 .text2 h1 {
    font-size: 17pt;
  }
}

@media (max-width: 991px) {
  .image2 .text2 h1 {
    left: 10%;
    font-size: 15pt;
  }
}

@media (max-width: 719px) {
  .image2 .text2 h1 {
    font-size: 10pt;
  }
}

.image2 .text2 p {
  width: 25%;
  position: absolute;
  bottom: 30%;
  font-size: 10pt;
}

@media (max-width: 1000px) {
  .image2 .text2 p {
    font-size: 8pt;
  }
}

@media (max-width: 991px) {
  .image2 .text2 p {
    left: 10%;
    font-size: 8pt;
  }
}

@media (max-width: 719px) {
  .image2 .text2 p {
    font-size: 6pt;
  }
}

.carousel {
  width: 100%;
}

.carousel .carousel-inner {
  background-color: red;
}

.carousel .carousel-inner .carousel-item {
  width: 105%;
}

.carousel .carousel-indicators {
  right: auto;
  bottom: 5%;
  margin-bottom: 30px;
}

.carousel .carousel-indicators .active {
  opacity: 1;
}

.carousel .carousel-indicators small {
  cursor: pointer;
  margin: 0 10px;
  opacity: 0.5;
  color: #ffffff;
  -webkit-transition: opacity .6s ease;
  transition: opacity .6s ease;
}

.carousel button {
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  background: none;
  border: 1px solid #ffffff;
  height: 40px;
  color: #ffffff;
  position: absolute;
  bottom: 8%;
  left: 10%;
  z-index: 10;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (max-width: 1085px) {
  .carousel button {
    width: 30px;
    height: 30px;
    bottom: 10%;
  }
}

@media (max-width: 1000px) {
  .carousel button {
    width: 25px;
    height: 25px;
    bottom: 11%;
  }
}

@media (max-width: 719px) {
  .carousel button {
    width: 18px;
    height: 18px;
    bottom: 13%;
  }
}

.carousel button:hover {
  background-color: #ffffff;
  color: #222222;
}

.carousel button i {
  font-size: 10px;
}

@media (max-width: 719px) {
  .carousel button i {
    font-size: 6pt;
  }
}

.prev-text {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  line-height: .7;
}

.prev-text span {
  font-size: 13px;
}

@media (max-width: 719px) {
  .prev-text span {
    font-size: 8pt;
  }
}

.prev-text i {
  font-size: 15px;
  height: 15px;
  width: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
  text-decoration: none;
}
/*# sourceMappingURL=MainSlider.css.map */