@import "../../../utilities/variable/variables.scss";
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

// Min widht 500 and Max width 750
$respon750 : 750px;
$respon500: 500px;
// END Min widht 500 and Max width 750

// Min widht 500 and Max width 750
@mixin respon750 {
    @media (min-width : #{$respon500}) and (max-width: #{$respon750}) {
        @content;
    }
}
// END Min widht 500 and Max width 750

.wrapperEvent {
    width: 100%;
    padding: 0 0 30px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    @include smallPhone(){
        padding: 0 0 30px 0;
    }

    

    

    .headEvent {
        background: url(../../../img/pattern-05.svg);
        // background-size: cover;
        height: 15vh;
        background-position: center;
        display: flex;
        align-items: center;
        background-size: 10rem;
        // width: 100%;
        @include smallPhone() {
            height: 15vh;
        }

        .textHeadEvent {
            width: 100%;
            // height: 50%;
            display: flex;
            // margin-left: 13rem;
            padding: 0 10%;
            // border: 1px solid blue;
            color: #ffffff;

            h2 {
                text-transform: uppercase;
                font-family: 'Roboto';
                
                @include smallPhone() {
                    font-size: 15pt;
                }
                // @include smallPhone() {
                //     font-size: 12pt;
                // }
            }
        }
    }

    .linkedEvent {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;
        padding: $paddingTiny;
        @include smallPhone() {
            // border: 1px solid crimson;
            width: 100%;
            padding: $paddingMobile;
        }
    }

    .paginationBulan {
        padding: $paddingSmall;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include smallPhone() {
            padding: 0;
        }

        .wrapperBulanItem {
            display: flex;
            list-style: none;
            @include smallPhone() {
                justify-content: center;
                align-items: center;

            }

            .bulan-item {
                margin: 0 1rem;

                .customBulan {
                    text-decoration: none;
                    color: $darkRed;
                }
            }
        }
    }

    .paginationTimeline {
        padding: $paddingSmall;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    // Container Percobaan Pagination
    .container-p-p{
        display: flex;
        height: auto;
        width: 100%;
    }
    // END Container Percobaan Pagination

    .timeline {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px 10%;
        flex-wrap: wrap;

        @include smallPhone() {
            flex-direction: row;
            padding: 0;
        }

        @include respon750() {
            flex-direction: row;
            padding: 0;
        }
    }
}